[2016-09-19 22:50] kentcdodds opened #1 "Not rendering the root element of the component"
Hi there! Just discovered this and I'm excited to use it! I bumped into [a problem](https://github.com/kentcdodds/react-jest-workshop/pull/1).

Given this component:

[code]

And these tests:

[code]

I'm getting this snapshot:

[code]

Before, I was just using `expect(wrapper.html()).toMatchSnapshot()` and got this snapshot:

[code]

The major issue here is that with the snapshot generated from `

[2016-09-20 09:00] adriantoine commented on #1
Hi!

Thanks for reporting the issue! That's interesting, I'll have a look ASAP!

[2016-09-20 16:13] adriantoine commented on #1
Yeah, that's the same in my tests:
[code]
gives:
[code]
I should have been more careful 🤔

I'm working on a fix

[2016-09-21 10:48] #1 closed

[2016-09-21 10:51] adriantoine commented on #1
I just fixed the issue, now the [components have the root element](https://github.com/trayio/enzyme-to-json/blob/5f60ab0bdd21c2757c0d814f47bad93750d12723/test/__snapshots__/mount.test.js.snap#L50-L67).

It will be part of `v1.1.0` that I'm deploying now, thanks for raising the issue and sorry for the inconvenience!

[2016-09-21 13:41] kentcdodds commented on #1
Thank you!

[2016-09-22 01:03] bsr203 opened #4 "getPublicInstance is not a function"
Hi,

I have a bit of a complex component, which renders pretty printed message with enzyme `w.debug()`. But, getting following stack when use with  `mountToJson`

[code]

can you give some pointers to identify the issue without a test repo :-)

thanks.
bsr.

[code]

[2016-09-22 02:39] mark0978 commented on #4
This is actually a problem in enzyme, however I've been unable to fix it.  However I do I have a test that provokes the problem.  I'll have a PR up shortly.  The problem is in knowing what MountedTraversal:childrenOfInstInternal should return at certain points.

[code]

One of the choices truncates the tree, another causes a different fatal error.

[2016-09-22 09:07] adriantoine commented on #4
Hi!
Thanks for raising the issue, I'll have a look as soon as I can!

[2016-09-22 09:23] adriantoine commented on #4
From @mark0978's provided example, this fails:
[code]
but this works:
[code]
It seems like `wrapper.children()` from Enzyme fails for one of the children nodes in this particular case.

[2016-09-22 09:29] adriantoine commented on #4
Actually just running this:
[code]
provokes the error, and it doesn't involve our library, so that looks like an Enzyme issue. 🤔

[2016-09-22 09:45] bsr203 commented on #4
thanks. do you mind raising an issue there. Hopefully you can explain better on what the desired output, ... thanks again for your quick response.

[2016-09-22 09:51] adriantoine commented on #4
Yeah I will raise an issue in Enzyme and look at making this plugin work as closely as possible to `wrapper.debug()`, because `mount(<div>B<span></span></div>).debug()` works and shows the correct output.

[2016-09-22 18:44] adriantoine commented on #4
The issue is being solved on Enzyme side see: https://github.com/airbnb/enzyme/issues/603 and https://github.com/airbnb/enzyme/pull/604

[2016-09-22 19:03] bsr203 commented on #4
thanks. I been watching that issue. you guys are awesome :-)
can't wait to get it all working.

[2016-09-22 20:44] zenfe commented on #1
I'm now getting the following error:

This happens when my component has a nested component and I use shallowToJson.

[2016-09-22 20:45] adriantoine commented on #1
@zenfe, I'll have a look, can you open a new issue?

[2016-09-22 20:56] zenfe opened #7 "shallowToJson with nested components throws TypeError"
With the change from #1 I get the following error when using `shallowToJson` with nested components:

[2016-09-22 22:06] adriantoine commented on #7
Thanks for reporting the issue! Can you give an actual example that reproduce the issue?

[2016-09-23 10:05] adriantoine commented on #7
Ok I've been able to reproduce the issue, I'm working on it!

[2016-09-23 10:28] #7 closed

[2016-09-23 10:29] adriantoine commented on #7
@zenfe Fixed in #8, I'm publishing a new version, sorry for the inconvenience!

[2016-09-23 10:31] adriantoine commented on #7
The fix is included in `v1.1.1`, just published 🎉

[2016-09-23 14:42] bsr203 commented on #4
@adriantoine I patched my enzyme with the changes airbnb/enzyme#604 and it worked well.
But, when I compares with `react-test-renderer` output, I see the snapshot though `enzyme-to-json` contains all the HOC and other react components. This causes two issues
1. huge snapshot file and it is hard to see the changes in the diff.
2. change in source code which doesn't affect the dom (extra props, refa

[2016-09-23 15:02] adriantoine commented on #4
Hi @bsr203,

Thanks for the suggestions, can you open that in another bug? I'll close this one when the issue is fixed in Enzyme 😊

[2016-09-23 15:20] bsr203 opened #9 "mount snapshot contains non dom nodes"
Hello,

While comparing the rendered output of `enzyme-to-json` (enzyme mount) with  `react-test-renderer`, I see the snapshot though enzyme-to-json contains all the HOC and other react components. This causes two issues

1. huge snapshot file (4313 lines vs 1468) and it is hard to see the changes in the diff.
2. change in source code which doesn't affect the dom (passing extra props, refactor to

[2016-09-23 17:02] adriantoine commented on #9
Hi @bsr203,

I'm very open to any improvements on this library. My primary objective was to be as close as possible to the output of the `wrapper.debug()` method, which shows your wrapper in a nice HTML-like syntax. For example:
[code]
is the output of the debug method on [the wrapper in my tests](https://github.com/trayio/enzyme-to-json/blob/master/test/mount.test.js#L26-L28), and this one shows

[2016-09-23 17:14] bsr203 commented on #9
thank you for the detailed response. I agree with you, having the react component and props in the snapshot has great value. File size should not be a big concern as jest is improving how it displays diff as it only going to show only the difference in watch mode. The user interface arounf jest watch is super sleek so one can update the snapshot with a keystroke so keeping up with the change in co

[2016-09-26 09:19] adriantoine commented on #9
No problem thanks for your suggestions

[2016-09-26 09:19] #9 closed

[2016-09-29 12:13] eskimoblood opened #12 "String for mocks looks weird"
I use Jest to mock out some child components, with the `react-test-renderer` I got

    <mocked someProps="someString" />

using `enzyme` and `shallowToJson` I got:

    <function (props) {return (/* istanbul ignore next */_react2.default.createElement( /* istanbul ignore next */'mocked', /* istanbul ignore next */_extends({ originalComponent: componentName }, props), props.children));} someProps=

[2016-09-29 12:35] adriantoine commented on #12
Hi, thanks for raising the bug, I will have a look!

[2016-09-29 12:54] adriantoine commented on #12
@eskimoblood Can you give me more details about your test? How exactly are you mocking the component?

[2016-09-29 13:01] adriantoine commented on #12
In one of my project, I'm using `enzyme-to-json` and Jest mocking like that:
[code]
and it works fine with `Field` as a display name.

But I'm interested in your issue, can you provide more details?

[2016-09-29 13:03] eskimoblood commented on #12
I'm using the approach from thus [gist](https://gist.github.com/evansiroky/89deb7759ae487abb5fed6d1dfdfce84#file-project-test-js)

[2016-09-29 13:04] eskimoblood commented on #12
But let me try your approach, maybe this fix the problem.

[2016-09-29 13:05] adriantoine commented on #12
Cool, thanks for the link, I'm looking at it!

[2016-09-29 13:10] adriantoine commented on #12
Ok so I've just tried that (basically just copying from your link):
[code]
and the snapshot output is:
[code]
which seems ok 🤔

[2016-09-29 13:12] bsr203 commented on #12
I too had transpiled code in my snapshot even with react-test-renderer https://github.com/facebook/jest/issues/1756

though it is closed, @cpojer acknowledge it was reported by others too.

[2016-09-29 13:13] eskimoblood commented on #12
I just move to
[code]

as suggested in the comments of the gist and it works. So just close the issue. Thanks for your help.

[2016-09-29 13:19] adriantoine commented on #12
Ok thanks for the insight @bsr203, that's strange 🤔

@eskimoblood I'm glad it works with you 😊 I'm still curious of what was causing that.

[2016-09-29 13:19] #12 closed

[2016-09-30 22:12] bsr203 opened #13 "Snapshot with instrumentation code in it"
Just though this maybe more relevant here as @kentcdodds says it doesn't happen with `react-test-renderer`. Hope you can identify the cause in this case as it only happens with `enzyme-to-json`.

please see https://github.com/facebook/jest/issues/1780 for details

[2016-10-01 19:01] adriantoine commented on #13
Hi,
Thanks for the link, @trayio got mentioned but I don't get notifications for these are that's my company. I'll have a look.

[2016-10-03 13:16] #13 closed

[2016-10-03 13:21] adriantoine opened #17 "Root component is lost when chaining root component compositions"
[This test](https://github.com/trayio/enzyme-to-json/blob/2d19592d57fc0855affe00c442c6540b0cfae116/test/mount.test.js#L41-L47), produces [this snapshot](https://github.com/trayio/enzyme-to-json/blob/2d19592d57fc0855affe00c442c6540b0cfae116/test/__snapshots__/mount.test.js.snap#L1-L32). The `div` root component of [ClassWithPure](https://github.com/trayio/enzyme-to-json/blob/2d19592d57fc0855affe00c

[2016-10-03 16:19] #17 closed

[2016-10-04 09:41] KyKyPy3 opened #19 "Snapshot test with coverage flag"
When tested using Jest snapshots i observe different behaviour  when I run the tests with --coverage flag or without.

With coverage flag i get `Component` in first child
![with_coverage](https://cloud.githubusercontent.com/assets/483957/19068942/474db91c-8a2d-11e6-97c7-80e510f80521.png)

Without coverage flag i get true React component `ModalHeader`
![without_coverage](https://cloud.githubusercon

[2016-10-04 10:12] adriantoine commented on #19
Hi @KyKyPy3! Thanks for raising the issue, I will have a look as soon as I can.

Can you tell me which version of `enzyme-to-json` you are using? I wouldn't be surprised if this happens in `v1.1.2` but I think I fixed most of these in the latest `v1.1.3` version.

[2016-10-04 10:18] adriantoine commented on #4
FYI the exception won't be there in `v1.1.3` but the Snapshot output is still wrong in this particular case.

This test:
[code]

Gives this snapshot:
[code]
So the `B` text element is somehow lost 🤔

[2016-10-04 10:56] KyKyPy3 commented on #19
I try to use 1.1.3 and version build from master branch.

[2016-10-06 12:02] adriantoine commented on #19
@KyKyPy3 any news? Are you trying the latest version?

[2016-10-09 12:15] KyKyPy3 commented on #19
Yes, the situation has not changed

[2016-10-12 11:11] eskimoblood opened #20 "fails when component returns null"
`shallowToJson` fails if a function component returns null.

[code]

[2016-10-12 11:16] eskimoblood opened #21 "Undefined properties are rendered into snapshot"
Not sure if this is a bug or a feature but after updating to the latest version all my snapshots contains `someProp={undefined}` for all props that are not defined in the test.

[2016-10-12 11:56] adriantoine commented on #20
Thanks for reporting! I'll have a look as soon as I can.

[2016-10-12 11:56] adriantoine commented on #21
Thanks for reporting! I'll have a look as soon as I can.

[2016-10-19 16:24] jackkainov commented on #20
+1.
The code is not checking if the node is false
https://github.com/adriantoine/enzyme-to-json/blob/master/src/shallow.js#L7
but here it does
https://github.com/adriantoine/enzyme-to-json/blob/master/src/render.js#L4

[2016-10-19 16:25] adriantoine commented on #20
@jackkainov I don't really have time to make a change at the moment, would you mind making a PR?

[2016-10-24 11:33] adriantoine commented on #20
Fixed by #23

[2016-10-24 11:33] #20 closed

[2016-10-24 11:35] adriantoine commented on #20
This fix is published in [`v1.1.5`](https://github.com/adriantoine/enzyme-to-json/releases/tag/v1.1.5) 🎉

[2016-10-27 23:14] camjc commented on #19
Looks like the issue is related to this one
https://github.com/airbnb/enzyme/issues/611

[2016-11-01 16:20] existentialism commented on #21
@adriantoine it looks like this was changed with switchover to use enzyme's utils,

before:
https://github.com/adriantoine/enzyme-to-json/commit/0e06c679#diff-1fdf421c05c1140f6d71444ea2b27638L14

after:
https://github.com/adriantoine/enzyme-to-json/blob/master/src/shallow.js#L34

I pushed a PR with a test!

[2016-11-01 17:04] #21 closed

[2016-11-02 11:56] ismay commented on #19
I'm running into the same problem, see here: https://github.com/airbnb/enzyme/issues/640#issue-184439634

[2016-11-04 21:59] ryanewing commented on #19
Is this in any way related to https://github.com/thejameskyle/pretty-format/commit/9214857d3db17872ed50e37dd3e49b5736970248 ?

[2016-11-07 19:45] johnthepink commented on #19
@ryanewing I updated to pretty-format@4.2.2 and it didn't fix the issue for me.

[2016-11-08 10:10] adriantoine commented on #19
Is it possible for someone to create a small repo which replicates this issue?

[2016-11-09 10:11] ismay commented on #19
I've tried, but I'm not able to replicate the issue currently. If I run into it again I'll create an example repo.

[2016-11-10 14:42] ismay commented on #19
Ok, I was able to replicate it. The snapshots were created with `jest --watch` (and then `u` to update the snapshots). If I then run `jest --coverage` it fails in this manner:

[code]

Results are the same locally and remotely.
* CI build here: https://gitlab.com/ismay/enzyme-to-json-example/builds/6074425
* Example repo here: https://gitlab.com/ismay/enzyme-to-json-example

[2016-11-16 12:47] guijesuis commented on #19
i have the same issue on my current project. I identified it, as being a miss recognition on component written with lambda (example bellow) that has been instrumented by Istanbul.
[code]

It can be solved by writing using the following syntaxe.
[code]

But i would prefer if we could fix it.

Is there someone working on it? should i give it a try (may be this week end)?

[2016-11-16 16:17] adriantoine commented on #19
Thanks for your reports! I'll have a look when I have time

[2016-11-20 02:09] jwbay opened #27 "Use wrapper.getNode() instead of wrapper.node"
Enzyme recently picked up changes in v2.6.0 that remove the need for .update() in the shallow wrapper for a lot of cases. It accomplishes this by replacing the node and nodes properties with functions (getNode and getNodes) that always return the latest output of the underlying shallow renderer.

To keep back-compat with other versions of enzyme, one could simply check for .getNode and fall back t

[2016-12-06 07:35] yesmeck opened #30 "root node lost when using renderToJson with find"
This issue may related to #17.

Following test:

[code]

Generated snapshot:

[code]

I'd expect the generated snapshot contains the whole `ul` node.

[2016-12-06 18:44] adriantoine opened #32 "Serializer doesn't work"
Before anyone opens an issue, I'm aware the serializer added earlier on doesn't work as expected, I'm looking into it 🤔

[2016-12-07 11:31] adriantoine commented on #32
This is now fixed by https://github.com/adriantoine/enzyme-to-json/pull/33 🎉

[2016-12-07 11:31] #32 closed

[2016-12-08 01:05] camjc commented on #19
For what its worth it appears to effect https://github.com/rogeliog/jest-serializer-enzyme as well, so I guess the fix should be somewhere upstream but I don't know where. Would be great to have a fix :|

[2016-12-09 16:25] ismay commented on #19
Anyone have an idea what's causing this? Enzyme wraps `react-addons-test-utils`, which [does not support refs for shallow testing](https://facebook.github.io/react/docs/test-utils.html#shallow-rendering):

[code]

Could that be it?

[2016-12-15 05:59] prayogoa opened #35 "mountToJson doesn't render mixed children"
This is the same bug that is fixed in https://github.com/airbnb/enzyme/pull/476

[2016-12-15 09:05] #35 closed

[2016-12-16 22:20] solomon23 opened #37 "input types with checked={true} aren't rendering checked"
I can't seem to get enzyme to render with the checked attribute of an input.  I've tried:

`<input type="checkbox" checked="checked" value="party" id="party-button" disabled="disabled" />`

and it'll render as (without the checked):

`<input disabled="" id="party-button" type="checkbox" value="party" />`

I tried these variations and they all render the same thing:

`<input type="checkbox" checked

[2016-12-19 03:58] sb8244 opened #38 "Problem serializing a window.Node"
I'm going to preface this with something that I'm doing is probably horribly outside of the box for a React app.

I am using rc-tooltip but require that I mount it to a place other than `document.body`. To do this, I keep a mountNode and pass it down to tooltip users. My PropTypes looks like:

[code]

I create a component instance with the following `mountNode` prop:

[code]

Upon doing so, I get

[2016-12-22 07:19] MateuszJonak commented on #30
This is because of this line:
https://github.com/adriantoine/enzyme-to-json/blob/master/src/render.js#L18

[2016-12-22 07:21] yesmeck commented on #30
I know this line cause the problem. But why?

[2016-12-22 07:34] MateuszJonak commented on #30
I don't know but I have a problem with this too.

[2016-12-22 17:13] bsr203 commented on #9
@adriantoine is there an easy way to make it configurable, so that I can suppress the react component and just output dom elements in the snapshot. I had difficulty with components which takes large structure as props. For example, if a component takes a schema object as below, and pass through few more child component, the whole object is repeated in the snapshot. It would be great if we have a m

[2016-12-23 07:19] dziamid opened #39 "Serialize style attributes as style={[object Object]}"
I'd love to ignore some attributes when a component is serialized, for the purpose of keeping its snapshot focused and not cluttered with stuff like inline styles

For example:
[code]
Would serialize into:
[code]

While i'd prefer:
[code]

[2017-01-03 07:14] wuct commented on #30
I've also run into similar issue with `mount`.

For example:

[code]

When I call

[code]

I expects to get something like

[code]

but I get

[code]

It's because [this line](https://github.com/adriantoine/enzyme-to-json/blob/master/src/mount.js#L54)

We can change this behavior by checking the length of the wrapper first. In my mind, it would be something like:

[code]

I would like to create a

[2017-01-03 07:20] wuct opened #40 "Handle wrappers with multiple nodes"
This issue is probably related to #30.

When we invoke `find()` on enzyme's wrapper and get multiple nodes in return, `enzyme-to-json` only handles the first node.

For example:

[code]

When I call

[code]

I expects to get something like

[code]

but I get

[code]

It's because [this line](https://github.com/adriantoine/enzyme-to-json/blob/master/src/mount.js#L54)

We can change this behavior by

[2017-01-05 21:29] pedrottimark commented on #39
@dziamid Your comments are welcome in a conversation about a potential general solution to matching a subset of attributes/properties at https://github.com/facebook/jest/issues/2202#issuecomment-268347718

[2017-01-06 16:31] pedrottimark commented on #9
Happy New Year, Adrien.

There are examples of matching an object with DOM nodes only in a conversation https://github.com/facebook/jest/issues/2202#issuecomment-268347718 about `toMatchObject` assertion.

In the example of a diff snapshot for **Update** operations on a table cell, the result of enzyme traversal is a wrapper which contains only DOM nodes, as you suggested in a comment above.

In o

[2017-01-12 10:04] james-s-turner opened #42 "Strange snapshot output with High Order Components"
I'm trying to snapshot a routed redux app, my test code is as follows:
[code]
I'm using chai-jest-snapshot to do the snapshotting. The output I see in the snapshot file looks like this:
[code]
Snapshot testing fails because some key values differ on each test execution.

However when I use react-test-renderer the snapshot output is just HTML and the snapshot comparisons work fine:

[code]
The code

[2017-02-03 16:41] benmvp opened #44 "0 value is not serialized"
Hi! Thanks for the wonderful work on this package! I prefer it to `react-test-renderer` because all of my tests leverage enzyme so it's one single way of doing things.

However, I believe I stumbled across a bug where a value of just `0` as children does not get serialized to JSON. Here's a minimal contrived example:

[code]

In the console:

[code]

Interestingly enough, if I do `number.toString(

[2017-02-09 11:38] adriantoine commented on #27
Hi @jwbay, sorry for the delay, it looks interesting, are you interested in making a pull request?

[2017-02-09 11:39] adriantoine commented on #30
Hi, sorry for the delay, I will have a look!

[2017-02-09 11:40] adriantoine commented on #37
Hi @solomon23, thanks for raising the issue, I'll have a look as soon as I can, sorry for the delay!

[2017-02-09 11:43] adriantoine commented on #38
Hi @sb8244, sorry for the delay! Thanks for raising the issue but I don't understand, can you provide an example repo for example? Are you sure the issue comes from `enzyme-to-json`?

[2017-02-09 12:15] #30 closed

[2017-02-09 12:15] adriantoine commented on #30
This is fixed by #45 and will be released in the next patch version!

[2017-02-09 12:16] adriantoine commented on #4
I don't think this bug occurs anymore, if it does, feel free to leave a comment here!

[2017-02-09 12:16] #4 closed

[2017-02-09 12:19] adriantoine commented on #39
Hi @dziamid, that's interesting but it's not really a bug with `enzyme-to-json` but a bug with Jest snapshots and how [`pretty-format`](https://github.com/facebook/jest/tree/master/packages/pretty-format) processes them! Thanks for the link @pedrottimark

[2017-02-09 12:19] #39 closed

[2017-02-09 12:22] adriantoine commented on #40
Hi! Thanks for raising the issue, I would definitely like to see a PR for that! #30 was fixed but your bug is more about handling multiple nodes in output, so it's a bit different.

[2017-02-09 12:26] adriantoine commented on #42
Hi!

Yeah `react-test-renderer` and `enzyme-to-json` are working differently as `react-test-renderer` will display the output DOM elements. Have you tried using the Enzyme `render` wrapper? It should produce something closer to `react-test-renderer`, and in any case, you can use `react-test-renderer` if this is what you need.

[2017-02-09 12:27] adriantoine commented on #42
I'll mark this as invalid for now because the output looks like what's expected to me, feel free to comment if you need help.

[2017-02-09 12:27] #42 closed

[2017-02-09 12:29] adriantoine commented on #44
Hi @benmvp! Thanks for raising the issue, it is an interesting one 😊 Probably a falsy check as you said, I'll have a look!

[2017-02-09 12:50] #44 closed

[2017-02-09 12:53] adriantoine commented on #44
That's fixed now, it will be released in the next patch version!

[2017-02-09 13:03] adriantoine commented on #19
Hi! I'm very late on this issue! I tried running @ismay's example repo, but as far as I can see, it's not related to `enzyme-to-json`. A quick way to find out is that I tried running:
[code]
in the test and it shows the same component name as the Snapshot:
[code]

 The thing is that I'm just using Enzyme wrappers here to generate snapshots but I can't do more than Enzyme, if the output of `.debug(

[2017-02-09 13:03] #19 closed

[2017-02-09 13:05] ismay commented on #19
Yeah it's actually a problem with istanbul: https://github.com/adriantoine/enzyme-to-json/issues/19#issuecomment-266056074

[2017-02-13 08:33] john-hu opened #47 "TypeError: Cannot convert undefined or null to object"
Recently, we got an exception looks like:

[code]

Some people reports to enzyme at https://github.com/airbnb/enzyme/issues/750 .

[2017-02-13 09:30] adriantoine commented on #47
Hi!

Thanks for the report, can you tell me what brings the error? What's in `__tests__/container/list/AccountsList.test.js`?

[2017-02-20 19:05] jbrantly opened #48 "Output mapping functionality"
Would you be open to the addition of some form of node mapping functionality added on top of the existing serialization? Here are some use cases that I've run into where something like this could be really useful:

1. Unwrapping HOC components so that the correct component name can be displayed. It's pretty easy in Enzyme to unwrap the root component but much more difficult (and likely unnecessary

[2017-02-21 09:23] adriantoine commented on #48
Hi @jbrantly!

I am open to any kind of improvement, but I don't think I understand your use cases clearly. Can you provide code examples? As far as I know, if you can do something with Enzyme, you can do it with `enzyme-to-json` 🤔

Thanks!

[2017-02-22 11:57] #40 closed

[2017-03-01 18:30] tylercrosse opened #51 "child Components are unnamed when jest run with --coverage flag"
I get a different snapshot depending on whether Jest is run with --coverage. Specifically, when Jest is run with `--coverage` some but not all of the child components appear simply as `<Component />` in the snapshot. When run without the `--coverage` flag all of the child Components appear in the snapshot with the correct name. Additionally, the components that appear as `<Component />` are all st

[2017-03-02 09:57] adriantoine commented on #51
Hi!

Thanks for reporting the issue. It is a known issue to be fixed on Istanbul, see https://github.com/adriantoine/enzyme-to-json/issues/19#issuecomment-278634889.

[2017-03-02 09:57] #51 closed

[2017-03-02 21:04] tylercrosse commented on #51
Thanks! Sorry to waste your time. I missed that in my search before filing this issue.

[2017-03-03 11:03] adriantoine commented on #51
No problem, thanks for reporting!

[2017-03-10 20:51] MoonTahoe commented on #19
Until there is a fix on this issue from istanbul...

I found this problem occurs with stateless functional components. You can get the same results with or without coverage in your snapshot tests by setting the .displayName property on stateless functional components.

[code]

[2017-03-14 15:57] esimons commented on #42
Not to be a pest, but I happen to side with @james-s-turner on this issue --- to my mind, the value of snapshots is that they are like freebie pinning tests, allowing you to refactor code in confidence that you haven't broken expected outputs (i.e. HTML). But if the serializer output includes internal details like Component names and prop values, it's no longer useful for refactoring, since those

[2017-03-14 17:33] adriantoine commented on #42
Hi @esimons,

My goal is to give output that looks like what you get using the Enzyme `debug()` helper. I unfortunately can't dig deeper in Enzyme wrappers. It looks as expected to me and I don't want to change the behaviour of these methods as I think it's a good thing not to go deeper in most cases.

For example I have components like that:
[code]
If I want to unit test `MyComponent`, I prefer h

[2017-03-14 20:02] esimons commented on #42
Hey @adriantoine thanks for responding so quickly!

You make a great point, and I think you're right that in most cases we should be treating these snapshots as unit tests, rather than large-scoped tests of multiple components. In that sense `shallow` works wonders and will give you exactly the output you're looking for. And, as you pointed out earlier, if you wanted a larger-scoped test, you coul

[2017-03-21 09:02] john-hu commented on #47
Hi,

The line emits error is `expect(toJSON(accountList)).toMatchSnapshot();`

[2017-03-21 09:03] adriantoine commented on #47
Hi,

Can I see the whole test? I need to reproduce the issue.
Thanks

[2017-03-23 18:29] pedrottimark commented on #9
@adriantoine Commenting to ask if you are willing to reopen and receive a pull request?

Goal is the received value for `toMatchObject` even more than `toMatchSnapshot` assertion.

There is a sample project to explain why and how. Your critique is welcome by opening issues.

You might start to read at this section:
https://github.com/pedrottimark/whimper#interlude-about-snapshot-testing

To get fu

[2017-04-10 19:06] andris-silis commented on #47
Hello.
I have this issue caused by `react-sortable-hoc`'s `SortableContainer` and looking through the source I found that reason is `window` used as property.

For example:
[code]

[2017-04-11 04:29] andris-silis commented on #47
Same problem with `document` and `global`.

[2017-04-11 08:44] adriantoine commented on #47
Hi!
That's interesting, thanks for the use case @andris-silis, I'll investigate.

[2017-04-11 08:46] andris-silis commented on #47
I looked further and found out that the error is happening inside `pretty-format`'s `printComplexValue` where value's toJSON is called.
Not sure if it is `enzyme-to-json`'s problem..

[2017-04-11 08:55] adriantoine commented on #47
Yeah I've just tested it myself, the issue is not coming from `enzyme-to-json`. I've just tried to run the `shallow` function without passing it to `expect()` and there's no error.

I think you should open an issue on: https://github.com/facebook/jest/issues, in the meantime you can try to mock the `window` object if possible.

I'm going to close this, thanks for you help @andris-silis!

[2017-04-11 08:55] #47 closed

[2017-04-11 09:03] adriantoine commented on #38
Hi again!
That is a duplicate of #47 and that is not an issue with `enzyme-to-json` but with `pretty-print`.

[2017-04-11 09:03] #38 closed

[2017-04-12 14:19] aaronmcadam opened #52 "Package is broken with enzyme 2.8.1"
Using the latest `enzyme` `master`, which includes [fixes for React 15.5](https://github.com/airbnb/enzyme/pull/876)  raises the following error when running tests:

[code]

I'll see if I can raise a PR to fix this once I figure out where the `ShallowWrapper` has moved to

[2017-04-12 14:22] adriantoine commented on #52
Hi,

Thanks for the report, I'll have a look!

[2017-04-12 14:28] aaronmcadam commented on #52
I forgot to mention that I'm using the latest version of `react` in my project. I'm not sure right now if the upgrade in `React` has moved something, or `enzyme` has.

[2017-04-12 14:29] adriantoine commented on #52
That's a bit strange, I can't replicate it locally 🤔

[2017-04-12 14:30] aaronmcadam commented on #52
@adriantoine Have you tried it with `react` `^15.5`?

[2017-04-12 14:32] adriantoine commented on #52
Yep, I'm using react@15.5.4 and enzyme@2.8.0

[2017-04-12 14:34] aaronmcadam commented on #52
Could you try setting your `package.json` to use `airbnb/enzyme`?

[2017-04-12 14:36] aaronmcadam commented on #52
`react-addon-test-utils` should also be removed I think

[2017-04-12 14:36] adriantoine commented on #52
If you do that you won't have the built files in the `build` folder, unless you run the build manually from your `node_modules` folder.

[2017-04-12 14:37] adriantoine commented on #52
The [latest version of Enzyme](https://github.com/airbnb/enzyme/blob/master/CHANGELOG.md#280) doesn't fix React warnings, does it?

The PR you mentioned above has been merged but the new version hasn't been released.

[2017-04-12 14:38] aaronmcadam commented on #52
Yeah, they're releasing a new version soon. I raised this issue to raise visibility

[2017-04-12 14:40] adriantoine commented on #52
Ok fine, if you are using `airbnb/enzyme` in your `package.json` you need to build Enzyme manually in your `node_modules` folder so that the files are built to the `build` folder.

[2017-04-12 14:44] aaronmcadam commented on #52
Yeah, I thought that might be case when using a git source. I'm trying a few different things to nail down my issues, sorry for the confusion 😅

[2017-04-12 14:47] adriantoine commented on #52
Yeah I have just tried that actually:
- Set your `package.json` dependency to `airbnb/enzyme`
- `npm install`
- `cd node_modules/enzyme`
- `npm install`
- `npm run build`

Then run your test again and it should work.

I'm closing this but feel free to comment here if it doesn't work once they've released that new version!

[2017-04-12 14:47] aaronmcadam commented on #52
Thanks @adriantoine!

[2017-04-12 17:30] adriantoine commented on #52
Reopening as there is indeed an error with the latest version of Enzyme (`2.8.1`):

[code]

[2017-04-12 17:39] adriantoine commented on #52
Ok well I just need to install `react-dom` and `react-test-renderer` in the dev dependencies, closing again. 😄

[2017-04-12 17:39] #52 closed

[2017-04-12 17:51] aaronmcadam commented on #52
Great, I'll give that a go tomorrow, thanks

[2017-04-18 09:22] sboudrias-aa commented on #48
@adriantoine Hey, I think this would be really useful for people using CSS-in-JS tools. A lot of them are creating a lot of unnecessary noise in the snapshot files.

For example, with styled-jsx:

[code]

Or with glamorous:

[code]

Having less verbose snapshot would certainly be welcomed by a lot of these tools users. Right now they make snapshot a pain to review.

[2017-04-18 09:27] adriantoine commented on #48
@sboudrias-aa it does look like an interesting feature. @jbrantly has started a PR a while ago, I'll see if I can implement it myself.

Thanks for your feedback.

[2017-04-18 14:50] pedrottimark commented on #48
@adriantoine Another way to ignore specific props is by [toMatchObject](http://facebook.github.io/jest/docs/expect.html#tomatchobjectobject) assertion in Jest, illustrated by the description of a sample project. The best place to start reading is here:

https://github.com/pedrottimark/whimper#interlude-about-snapshot-testing

If you are willing for the API of `enzyme-to-json` to include `mountToDe

[2017-04-19 09:45] DzoQiEuoi commented on #42
I agree with @esimons and @james-s-turner.

If a function produces the same output the test should pass regardless of implementation details.

When you change a sub-component, the parent component's unit tests _should_ fail because it's now doing something different.

[2017-04-21 06:46] mpodlasin opened #55 "Default props visible in shallow snapshot"
Hi.

I have two components:

[code]

[code]

Snapshot of `A` I would expect:
[code]

Snapshot of `A` I got:
[code]

Note how `B`s `defaultProps` are visible in shallow render of `A`, even though I did not pass them in `A`. This is very bad, since it exposes internals of `B`. When I change implementation of `B` it should only affect `B`s tests (this is the whole reason why I use shallow render), bu

[2017-04-21 10:59] adriantoine commented on #55
Hi!

Thanks for raising the issue, that's an interesting one. I agree that `A`'s snapshots shouldn't render `B`'s internals, my only concern is to check how Enzyme wrappers work. If `shallow(<A />).find('B').props()` returns `firstProps` and `secondProps`, there's no way I can exclude `secondProps` from the snapshot, and it might be an Enzyme bug as I wouldn't expect that to return default props.

[2017-04-21 11:50] Podlas29 commented on #55
I am up for tinkering myself and sending PR, if it's possible to provide fix. Just wanted to ask if you really consider it a bug.

[2017-04-21 17:24] Podlas29 commented on #55
Aaah, it seems that it is React that puts defaultProps in actual props as early as possible, so there are here from the very beginning (when React.createElement is called):

https://github.com/facebook/react/blob/master/src/isomorphic/classic/element/ReactElement.js#L183

Could we consider getting rid of them by hand? For example check at some point if component has defaultProps and if it has, rem

[2017-04-27 21:36] dzhytomyrsky opened #57 "Configure serializer to skip element attributes on snapshot."
Hello is it possible to configure serializer to skip element attributes? It would be wonderful to get on snapshot only elements and innerText.

[code]

[2017-04-28 03:58] runk commented on #57
Would be awesome to have this feature. 💯

[2017-05-31 11:20] lsentkiewicz opened #58 "key prop not visible in snapshot"
If I add a `key` prop, it's not serialized to the snapshot.

Steps
- Add test `expect(<div />).toMatchSnapshot()`
- Update it `expect(<div key={1} key2={1} />).toMatchSnapshot()`
Result
![image](https://cloud.githubusercontent.com/assets/4478684/26629602/601dbb6c-4603-11e7-9b9f-dd9841b8e60a.png)

Expected:
Diff should show also `+ key={1}`

Snapshot serializer in jest-config.json
[code]
jest: 20.0

[2017-06-19 19:50] jpenna opened #60 "Key value differing for saves"
I'm getting an error when I save the document without any modifications.
The only fact that I am saving it changes the snapshot and it returns as a "no match".

I am using `enzyme-to-json` with a `enzyme.mount` which is mounting:

[code]

`Component` is a wrapped `redux-form` container:

[code]

The errors are:

[code]

Am I doing something wrong?

[2017-07-28 15:36] ishantoberoi opened #61 "Does not generate Snapshot"
Getting error: Error: Invalid Chai property: toMatchSnapshot

import toJson from 'enzyme-to-json';

describe('Component Snapshot', () => {
          const wrapper = mount(\<Component /\>);
         const instance = wrapper.instance();

it('should generate shapshot', () => {
      expect(toJson(wrapper)).toMatchSnapshot()
  });

});

[2017-07-29 16:55] adriantoine commented on #61
Hi,

[code]

It seems like you are trying to use `toMatchSnapshot` with Chai rather than Jest, please have a look at how to use Jest: https://facebook.github.io/jest/docs/getting-started.html.

[2017-07-29 16:55] #61 closed

[2017-08-01 11:38] ishantoberoi commented on #61
Hi @adriantoine

I wanted to know, where is this toMatchSnapshot coming from, in the examples stated here
https://www.npmjs.com/package/enzyme-to-json

I believe it is not mentioned that it is using jest

[2017-08-01 12:42] adriantoine commented on #61
Hi @ishantoberoi,

Yes it is written in the description of the package: "Convert Enzyme wrappers to a format compatible with **Jest** snapshot testing."

[2017-08-13 22:26] nickmccurdy opened #63 "Enzyme 3 support"
I get this error in all my test suites using `enzyme-to-json@1.5.1`, `enzyme@3.0.0-alpha.1` (unmet peer dependency), and `react@16.0.0-beta.5` (unmet peer dependency).

[code]

While it's clear to me that the peer dependencies are intentionally not supporting these unstable versions yet, it would be helpful to start working on support in a prerelease so projects testing React 16 and projects force

[2017-08-16 14:31] tomchentw commented on #19
Exactly!

I've recently encountered this issue and I tried to fix it on the istanbul side. I forked `babel-plugin-istanbul` to fix this, and I put my discovery in here:

https://github.com/istanbuljs/babel-plugin-istanbul/issues/125

Could you folks let me know what you think about my proposal?

[2017-08-18 20:34] JonathanTR commented on #57
What would it look to configure this?

[2017-08-19 12:03] #27 closed

[2017-08-19 12:10] adriantoine commented on #57
Hi!

Thanks for your suggestions, would you mind giving more details about that? I don't think I understand, you want a snapshot with only elements and inner texts?

`enzyme-to-json` is only converting Enzyme wrappers to a JSON format that is compatible with Jest snapshot testing. Isn't that something you want to be implemented in Jest so that it is available for people only using `react-test-rend

[2017-08-23 20:10] JonathanTR commented on #57
Ah, I'm realizing that what I wanted was actually quite different from OP, as I had read their post pretty quickly. What I was thinking was something more along the lines of being able to collapse certain elements within a snapshot.

So instead of having:
[code]

I could configure my serializer to just return something like:
[code]

This would be awesome for cleaning up snapshots, especially in ca

[2017-08-25 13:46] TiddoLangerak opened #64 "Filter `<!-- react-text: [number] -->` comments"
In the snapshots many of my strings are surrounded by `` comments. These comments tend to change often for unrelated reasons, causing the snapshots to break. Is it possible to omit these comments from the output?

[2017-08-25 14:07] TiddoLangerak commented on #64
Never mind, these turned out to show up due to a bug of my own.

[2017-08-25 14:07] #64 closed

[2017-08-30 14:32] robinelvin opened #65 "toJson() hangs indefinitely"
I tried switching from Jest but when I do my test never completes.

[code]

[code]

enzyme 2.8.2
enzyme-to-json 1.5.1
jest 20.0.4

[2017-09-15 10:46] adriantoine commented on #65
Hi @robinelvin,

Sorry for the delay, I can't reproduce this bug, can you provide a small test repo?

Thank you!

[2017-09-15 10:47] adriantoine commented on #48
Fixed by #56

[2017-09-15 10:52] adriantoine commented on #63
Hi!

That's interesting, I'll have a look.
Thanks for raising the issue.

[2017-09-15 11:27] adriantoine commented on #58
Hi @lsentkiewicz!

Sorry for the delay, I just looked and it seems that Enzyme doesn't return the `key` prop when using the [`.props()`](https://github.com/airbnb/enzyme/blob/4d1517ab01c01011d7e7d1b4e9ae4201cd23268d/docs/api/ReactWrapper/props.md) helper, it is returned by a separate helper [`.key()`](https://github.com/airbnb/enzyme/blob/48712015e7709da63fe83a90fa3efb3a29dbb648/docs/api/ReactWrap

[2017-09-16 12:23] adriantoine commented on #60
Hi @jpenna,
Thanks for raising the issue, I'll have a look as soon as I can! Sorry for the delay.

[2017-09-17 11:01] #58 closed

[2017-09-17 11:28] adriantoine commented on #60
It might be due to a key randomly generated by `redux` or `redux-form` but it doesn't look like a bug with `enzyme-to-json`, I'll close this for now, if you need help, please create a small repo to reproduce the issue.

[2017-09-17 11:28] #60 closed

[2017-09-17 11:29] adriantoine commented on #37
I'm not able to reproduce this issue, if you can still reproduce it, please create a minimal repository where the issue is reproduceable.

[2017-09-17 11:29] #37 closed

[2017-09-17 11:30] adriantoine commented on #65
I'll close this for now, please comment if you can provide a repository which reproduce the issue.

Thanks!

[2017-09-17 11:30] #65 closed

[2017-09-18 00:54] andrewjmead commented on #63
Just an FYI, I'm seeing the same issue with the more recent beta/rc versions. I was using `enzyme@3.0.0-beta.5` and `react@16.0.0-rc.3`.

[2017-09-18 13:18] adriantoine commented on #63
Just as I told you @andrewjmead and to let everyone know, I'm currently working on Enzyme 3 compatibility, it's actually not bad at all and the code is much simpler.

Everything is in the [`enzyme3` branch](https://github.com/adriantoine/enzyme-to-json/compare/enzyme3) if you want to check it out, I'll hopefully release a beta version of `enzyme-to-json` in the day.

[2017-09-18 13:38] andrewjmead commented on #63
I'll be testing it right away!

[2017-09-18 14:37] adriantoine opened #67 "Version 3.0 (Enzyme 3 and React 16 compatibility)"
I was working on #63 and eventually decided to go for a slightly larger refactor of the library. It was started as simple quickly-made library and I was never expecting nearly 500 stars, so I think that it now needs a bit of polish. 😁

Here is a roadmap of everything I expect to be in the next major 3.0 release:

## Roadmap

- [x] Works with Enzyme v3
- [x] Support deep and shallow mode for the `m

[2017-09-18 14:40] adriantoine commented on #63
I will close this for now and you can find more information about the progress of the next version there: #67.

You can test the beta:
[code]

[2017-09-18 14:40] #63 closed

[2017-09-18 15:06] andrewjmead commented on #63
Awesome. This fixed all the issues I was seeing when using:

- `enzyme@3.0.0-beta.5`
- `enzyme-adapter-react-16@1.0.0-beta.5`
- `react@16.0.0-rc.3`
- `react-dom@16.0.0-rc.3`

[2017-09-18 16:02] adriantoine commented on #67
Beta 2 has been published with most of the items from the list addressed.

[2017-09-18 16:04] adriantoine commented on #63
@andrewjmead nice! That would be cool if people can test it with React 16 and Enzyme 3 on a larger codebase than my unit tests.

[2017-09-18 18:01] adriantoine commented on #48
I'm reopening that as it's not really what was implemented in #56, I'll work on a solution for `v3.0` (see #67)

[2017-09-18 18:03] adriantoine commented on #57
I'm working on a map functionality (see #48) which would give much more control on the output. It will be released with [`v3.0.0`](https://github.com/adriantoine/enzyme-to-json/issues/67).

Thanks for your suggestions!

[2017-09-18 21:59] adriantoine commented on #67
The output mapping feature I'm working on is working in the way that you can pass a map function in the options and this function will take the JSON as only parameter and can return a modified version of this JSON object.

For example:
[code]

Here `map` is an arrow function which will remove all props called `notInSnapshot`, so the snapshot would be:

[code]

and if you want to remove all attribu

[2017-09-18 22:00] adriantoine commented on #57
@JonathanTR @dzhytomyrsky @runk I just [added a comment](https://github.com/adriantoine/enzyme-to-json/issues/67#issuecomment-330368493) to #67 about this new mapping functionality, can you tell me if it solves your issue?

Thanks!

[2017-09-18 22:01] adriantoine commented on #48
Ok well I'm closing this again 😁 Just to let you know that the mapping feature will be in `3.0` all the details there: https://github.com/adriantoine/enzyme-to-json/issues/67#issuecomment-330368493

[2017-09-18 22:01] #48 closed

[2017-09-19 07:53] kirill-kruchkov commented on #63
Hello! Trying to use this update, but encounter couple issues.

First:

[code]

When I have both @16.0.0-rc3.

And when I use it with jest I get only shallow snapshots like this:

[code]

Is there a way to configure it?

[2017-09-19 08:06] adriantoine commented on #63
Hi @kirill-kruchkov!

Thanks for trying out!

For the first issue, that's probably not because of `enzyme-to-json` because [we don't have a `peerDependency` on React, only on Enzyme](https://github.com/adriantoine/enzyme-to-json/blob/enzyme3/package.json#L48-L50).

For the second issue, mmh are you sure you are using Enzyme 3? Can you show more details about your setup?

Thanks!

[2017-09-19 08:11] kirill-kruchkov commented on #63
@adriantoine hi!

Thanks for your response!

It's like this:

[code]

And jest setup looks like:
[code]

[2017-09-19 08:14] adriantoine commented on #63
Ok thanks, I will try it out on a small repo!

[2017-09-19 10:57] adriantoine commented on #63
@kirill-kruchkov I have just published a small test repo: https://github.com/adriantoine/enzyme-to-json-v3-testing

[As you can see](https://github.com/adriantoine/enzyme-to-json-v3-testing/tree/master/src/__tests__/__snapshots__) all the snapshots are looking good so I can't reproduce your issue.

Can you provide more details about your use case or provide a small repo like mine where you can rep

[2017-09-19 11:57] kirill-kruchkov commented on #63
@adriantoine thank you! Sorry I can't check it and make a report right now, but I hope I'll have a chance to do it this evening. Will report the result here!

[2017-09-19 12:04] adriantoine commented on #63
@kirill-kruchkov no problem!

[2017-09-19 12:32] adriantoine commented on #67
The map feature has now been released in `v3.0.0-beta4`.

[2017-09-19 20:26] kirill-kruchkov commented on #63
@adriantoine so I see it works fine with react for web, but I try to make it work for react-native 0.47.2. Maybe this is the reason we get different results. Let me come back later with a minimum repo to reproduce.

[2017-09-19 21:02] adriantoine commented on #63
@kirill-kruchkov that's interesting, I'm not a `react-native` user, can you provide a small repo with `react-native` so that I can test and fix? Thanks!

[2017-09-20 08:05] kirill-kruchkov commented on #63
@adriantoine I created a small repo (https://github.com/kirill-kruchkov/enzyme-to-json-v3-react-native-test) to try it but it seems like it all works fine! So I'm sorry for bothering you with this! Probably the error is somewhere else in my code.

[2017-09-20 08:13] kirill-kruchkov commented on #63
@adriantoine oh no, sorry again :-D Actually I reproduced it. Please check out this repo: https://github.com/kirill-kruchkov/enzyme-to-json-v3-react-native-test

Turns out it saves `<undefined />` to snapshot if the boolean here is false:

[code]

[2017-09-20 08:34] adriantoine commented on #63
@kirill-kruchkov thank you very much, I'm looking into it!

[2017-09-20 08:56] adriantoine commented on #63
That's a good catch, for some reason it returns an undefined type for `{isError && <Text>Has Error!</Text>}` when `isError` is `false`.

[code]

I'll have a look.

[2017-09-20 09:19] adriantoine commented on #63
@kirill-kruchkov it should be fixed in `v3.0.0-beta6`, can you give it a try?

[2017-09-20 11:04] kirill-kruchkov commented on #63
@adriantoine I tried it and now it's fine!
I have `wrapper.instance() === null` in one case, but I think it has to do with Enzyme itself.

Thank you a lot! Really appreciate your responsiveness!

[2017-09-25 16:42] sapegin opened #70 "Node 4 support"
Node 4 was removed in 1.6.0 without any mention of that in the change log. It’s a breaking change so it should have been a major release.

Any reason to do that while Enzyme still supports Node 4?

[2017-09-25 18:45] adriantoine commented on #70
That's a good point, I can't remember why I removed Node 4 support, I should definitely have made a major release.

I'll have a look to reintroduce it.

[2017-09-25 19:59] #70 closed

[2017-09-26 14:28] kirill-kruchkov commented on #67
@adriantoine hello! Looks like Enzyme 3 is released: https://github.com/airbnb/enzyme/releases/tag/enzyme%403.0.0

[2017-09-26 16:40] fernandopasik commented on #67
React 16 is out as well
https://github.com/facebook/react/commit/5c6ef4044610a2a325780261f41730a33a919f98

[2017-09-26 16:45] adriantoine commented on #67
That's nice, I'll arrange a release of `enzyme-to-json` in the evening!

[2017-09-26 16:48] fernandopasik commented on #67
Thanks for the hard work @adriantoine !!!

[2017-09-26 17:34] #67 closed

[2017-09-26 17:39] adriantoine commented on #67
Thanks for your messages! [`v3.0.0` has been released](https://github.com/adriantoine/enzyme-to-json/releases/tag/v3.0.0), please report any bugs as soon as you find them! 😄

[2017-09-26 17:40] adriantoine commented on #57
`v3.0.0` has been released 🎉, the map functionality should cover this use case, if not, please comment on this issue!

[2017-09-26 17:40] #57 closed

[2017-09-27 14:46] FezVrasta commented on #63
I still get this error on one of my projects.
One based on the latest create-react-app worked just fine after the upgrade, the one based on an older version + ejected doesn't want to work.

Ideas?

[2017-09-27 15:15] adriantoine commented on #63
Hey @FezVrasta, can you give more details? Can you make sure all the versions are correct? `enzyme-to-json@3.0.0` with `enzyme@3.0.0` (or above). You're taking about this error
[code]
right?

[2017-09-27 15:16] FezVrasta commented on #63
I actually get only this part:

[code]

I have latest of enzyme, enzyme-to-json, react, react-dom, react-test-renderer, react-dev-utils, jest-enzyme, jest, enzyme-adapter-react-16 and babel-jest

[2017-09-27 15:20] adriantoine commented on #63
Mmh that's really strange, [this import has gone in `v3.0.0`](https://github.com/adriantoine/enzyme-to-json/commit/89e2b0d719e8f17d0a013d7ff00f0af7c3a8cff8#diff-d5e35200d025a4d8ca08cd5127f6da2bL6) so there must be an old version of `enzyme-to-json` that is used somewhere. Have you tried deleting `node_modules` and reinstalling?

[2017-09-27 15:24] FezVrasta commented on #63
yes I already delete node_modules, anyway now that I look at the yarn.lock I see that both 3.0.1 and 1.5.1 are resolved.

1.5.1 seems to be required by `jest-enzime` 3.8.3 (which is the latest) 🤔

[2017-09-27 15:28] FezVrasta commented on #63
Ok removing jest-enzyme everything works, I guess it needs an update 🙂

[2017-09-27 15:30] adriantoine commented on #63
I'm glad to hear you solved your issue! @FezVrasta

[2017-09-27 18:51] blainekasten commented on #63
Hey guys, I am indeed working on an upgrade. Hoping to cut a release soon

[2017-09-27 18:55] Connorelsea commented on #63
ETA on release @blainekasten? No rush at all, just wondering

[2017-09-27 18:56] blainekasten commented on #63
Hopefully less than 15m

[2017-09-27 19:19] blainekasten commented on #63
Just release `4.0.0` ! Give it a try!

[2017-09-28 17:41] nickmccurdy commented on #63
`react-addons-test-utils` is deprecated, use `react-test-renderer/shallow` instead. If that still doesn't work update to a stable version of `react-test-renderer`.

[2017-09-28 17:46] henrique1977 commented on #63
@nickmccurdy  Thank you for the response, i'm gonna try that!

[2017-09-28 18:28] adriantoine commented on #63
@henrique1977 you should use `enzyme-to-json/serializer` instead of `jest-serializer-enzyme`.

`jest-serializer-enzyme` is [only forwarding](https://github.com/rogeliog/jest-serializer-enzyme/blob/master/index.js#L1-L3) to [an old version of `enzyme-to-json`](https://github.com/rogeliog/jest-serializer-enzyme/blob/master/package.json#L45).

[2017-09-28 19:13] henrique1977 commented on #63
It's working for me now!
Thank you @adriantoine for the response!

After trying a lot of different things, this is what I have in my package:
"devDependencies": {
		"babel-jest": "21.2.0",
		"babel-preset-react-native": "4.0.0",
		"enzyme": "^2.9.1",
		"enzyme-to-json": "^1.5.1",
		"jest": "^21.0.1",
		"jest-enzyme": "^3.8.2",
		"react-dom": "16.0.0-beta.5",
		"react-test-renderer": "16.0.0-beta.5

[2017-09-28 20:40] IgorGee opened #73 "When should I use toJson()?"
It seems like I can generate snapshots just fine without using `toJson`.

[code]

Is this a valid way to use the serializer?

[2017-09-28 22:01] adriantoine commented on #73
If you use the serializer, you don't need the `toJson` function to generate snapshots. `toJson` was originally made when Jest didn't support serializers.

You still might want to use `toJson` if you need to use the options.

[2017-09-28 22:01] #73 closed

[2017-10-02 10:06] ShaneDrury opened #74 "Components returning undefined rather than empty string for false"
Hey, I'm not sure if this is a bug but there seems to be some inconsistency between the code and described behaviour.
In the recent version 3.0 upgrade Issue #67, one of the breaking changes is: "Components returning null or any falsy value are now rendered as an empty string in snapshots instead of null"

But that doesn't seem to be what's happening in the code.

A simple failing case:
[code]
giv

[2017-10-02 10:36] adriantoine commented on #74
Hi @ShaneDrury!

As you say I'm checking for `null` and `undefined` values, but not all falsy values. Although it seems weird that it give
[code]

it should give

[code]

I will have a look but I think I will stick to an empty string for `null` and `undefined` only as you might want to see if you component returns `false` sometimes.

[2017-10-03 09:24] vlad-zhukov opened #75 "Flaky test"
There are few tests that render a single component with a `key` prop and expect it to be snapshotted, for example this one: [test](https://github.com/adriantoine/enzyme-to-json/blob/master/tests/mount.test.js#L119:L122) and [snapshot](https://github.com/adriantoine/enzyme-to-json/blob/master/tests/__snapshots__/mount.test.js.snap#L399).

[2017-10-03 11:33] adriantoine commented on #75
Good point, I'll have a look.

[2017-10-10 18:54] #75 closed

[2017-10-13 12:14] FezVrasta commented on #74
I'm still reproducing something similar (or the same?) with 3.1.2

[code]

When `icon` is evaluated as `false` the snapshot will read:

[code]

Ideas?

[2017-10-17 10:57] adriantoine commented on #74
Hey @FezVrasta, that's my bad, I haven't released a new version including the fix. I'll get v3.1.3 out asap.

[2017-10-17 11:00] adriantoine commented on #74
@FezVrasta v3.1.3 is out!

[2017-10-17 11:38] FezVrasta commented on #74
Thank you!

[2017-10-17 11:41] FezVrasta commented on #74
Umh, I tried it but I'm getting the same problem 😞

[2017-10-17 11:45] FezVrasta commented on #74
Nope, no way... I'm getting the same problem of before even with 3.1.3... I double checked it 😓

[2017-10-17 11:48] adriantoine commented on #74
@FezVrasta I will have a look now.

[2017-10-17 11:48] FezVrasta commented on #74
I'm going to send a PR to add a failing test, if I manage to get one.

[2017-10-17 11:55] adriantoine commented on #74
Don't worry I just reproduced the issue so I have a failing test.

Thanks for reporting the issue by the way.

[2017-10-17 11:56] FezVrasta commented on #74
Oh, I just finished the PR lol.

nevermind then 😇

[2017-10-17 12:00] adriantoine commented on #74
Haha sorry, good news is that I fixed it already.

[2017-10-17 12:19] #74 closed

[2017-10-17 12:22] adriantoine commented on #74
@FezVrasta it should be fixed in `v3.1.4` 🎉

[2017-10-17 12:24] FezVrasta commented on #74
It works ❤️

[2017-10-25 19:42] kesne opened #82 "Expose node to map function"
I noticed the new map function, which is super useful! However, it has limited use with the values that are provided. Something that might be useful would be exposing the raw node, so that you just have more information available to work with, and could do things like stripping defaultProps.

[2017-10-25 19:54] adriantoine commented on #82
Hi!

Thanks for the suggestion! I was thinking about doing that yeah, it would be pretty hard to implement though.

I'd definitely accept a PR for that but I don't have time to work on it right now.

[2017-10-25 20:38] ghoshabhi commented on #63
@henrique1977 Thank you for posting the list of package versions! I resolved all my errors using that. I am also posting here the complete list of packages and config:

[code]

[2017-11-02 17:05] #82 closed

[2017-11-06 23:21] manu-st opened #85 "toJson signature requires update"
In the version 2.6 of TypeScript, they changed the way they perform type checking for function (see https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#strict-function-types). As a result code using `toJson` with a generic version of ComponentWrapper will not compile.

[code]

[2017-11-06 23:23] manu-st commented on #85
The solution seems to add the following to index.d.ts:
[code]

[2017-11-07 13:25] adriantoine commented on #85
Hi @manu-st,

Thanks for the suggestion, it looks good, would you like to submit a Pull Request?

[2017-11-07 14:14] adriantoine commented on #85
If you don't know how to do it, please check [CONTRIBUTING.md](https://github.com/adriantoine/enzyme-to-json/blob/master/.github/CONTRIBUTING.md).

[2017-11-07 15:16] manu-st commented on #85
Just made the PR, see #86

[2017-11-07 15:29] #85 closed

[2017-11-08 16:25] donatasbacius opened #87 "Arrays not handled properly"
Was upgrading an app to React@16 and came across what seems to be a bug with the latest `enzyme-to-json` (or [enzyme](https://github.com/adriantoine/enzyme-to-json/blob/master/src/shallow.js#L11)) where [snapshots for arrays](https://github.com/adriantoine/enzyme-to-json/blob/master/tests/shallow.test.js#L161) are [missing some elements](https://github.com/adriantoine/enzyme-to-json/blob/master/te

[2017-11-08 16:48] adriantoine commented on #87
Hey @donatasbacius,

Thanks for raising the bug!

I am not sure where it comes from and I don't have time to have a look right now, would you mind investigating?

[2017-12-06 17:30] alexlrobertson opened #89 "TypeError when serializing Fragment"
[React@16.2 Fragments](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#what-are-fragments) fail to serialize.

TypeError: Cannot convert a Symbol value to a string

[code]

[2017-12-06 17:37] adriantoine commented on #89
Hi!
Thanks for reporting the issue, that's a good one, I'll look at supporting React fragments as soon as I can.

[2017-12-13 14:57] rholliger commented on #89
Any updates on this matter?

[2017-12-13 14:58] adriantoine commented on #89
I didn't have time to work on this recently but I would gladly accept a PR.

[2017-12-13 22:34] madou commented on #89
here you go: https://github.com/adriantoine/enzyme-to-json/pull/90

[2017-12-14 13:33] adriantoine commented on #89
Thanks to @madou, `enzyme-to-json` now supports React Fragments 🎉

[2017-12-14 13:33] #89 closed

[2017-12-14 15:42] th3fallen commented on #89
wanna tag a version please sir?

[2017-12-14 15:43] adriantoine commented on #89
@th3fallen a new version has been published already, it's [`3.3.0`](https://github.com/adriantoine/enzyme-to-json/releases/tag/v3.3.0).

[2017-12-14 15:44] th3fallen commented on #89
sorry, i was blind, thanks!

[2017-12-14 23:32] madou commented on #55
Hmm that's not good, I'll have look at fixing this.

[2017-12-18 02:05] ramakay opened #92 "Unexpected Token - Transpiling issues with Babel or other dependencies."
Hi There

Apologies in advance if this isn't per format or I should ask elsewhere.

I am having an issue as I progress towards moving a React 15.6.1 project to React 16. As part of this I have updated Babel, Chai, Enzyme etc. - When I run the test suite, I end up with the following:

[code]
The error is on this line:
https://github.com/adriantoine/enzyme-to-json/blob/v3.3.0/src/shallow.js#L48

Cha

[2017-12-18 21:33] madou commented on #92
what version of node are you using? using node 8 works for me.

[2017-12-19 07:33] vlad-zhukov commented on #92
Is it [line 54](https://github.com/adriantoine/enzyme-to-json/blob/v3.3.0/src/shallow.js#L54) perhaps? Trailing commas in functions is a ES2017 feature, older engines do not support it.

[2017-12-21 18:21] ramakay commented on #92
Node is v6.11.2

@vlad-zhukov its https://github.com/adriantoine/enzyme-to-json/blob/v3.3.0/src/shallow.js#L48

[2017-12-21 19:26] ramakay commented on #92
Upgraded to node v8.9.3 and using `babel preset-env` no luck

[2017-12-23 07:49] aaron-ash commented on #92
@ramakay have you tried with different browser (chrome, firefox or safari)? Are you getting the same error?

[2017-12-26 08:25] Aakash-Goel opened #93 "PhantomJS: Unexpected token ',' issue"
I get below error in my test suite:

[code]
am using:
**"react": "16.2.0",
"enzyme": "3.2.0",
"enzyme-adapter-react-16": "1.1.0",
"enzyme-to-json": "3.3.0",**

Additional info:
my node version: v8.9.3
babel: 6.x
babel-preset-env: 1.6.x

After playing around i found that:
1. if i removed "enzyme-to-json" from my code base, test cases are running fine without any issues with PhantomJS.
2. if i choos

[2018-01-02 09:47] mshaaban088 commented on #87
@donatasbacius I don't see the missing elements, so I'm wondering what did you expect and what did you see?

[2018-01-02 10:01] adriantoine commented on #92
Hi @ramakay,

Sorry for the delay, can you set up a repo to reproduce the error?

It's a bit strange though we usually use `enzyme-to-json` with Jest, I haven't seen it working on Mocha/Chai but I'm happy to help if you set up a test repo.

[2018-01-02 10:20] adriantoine commented on #92
I think I see what this is, in the compiled version of `enzyme-to-json` you have this code:
[code]
It's using the object shorthand properties which is [not supported by PhantomJS](https://kangax.github.io/compat-table/es6/#phantom).

I would recommend to generate your snapshot in a Node environment (`enzyme-to-json` supports all Node versions from v4) rather than PhantomJS.

[2018-01-02 10:20] #92 closed

[2018-01-02 10:21] adriantoine commented on #93
Seems to be the exact same issue as #92, actually the error message is exactly the same one.

[2018-01-02 10:21] #93 closed

[2018-01-02 10:26] donatasbacius commented on #87
@mshaaban088 - `<strong/>` tags are not rendered. See the snap file.

[2018-01-02 11:38] mshaaban088 commented on #87
@donatasbacius that's because it's shallow rendered, no?

[2018-01-05 06:37] chris-pearce commented on #87
I'm also experiencing this bug, however, it's not 100% clear if it's related to `enzyme-to-json` but it's looking likely.

## To demonstrate

**JSX:**

[code]

**NOTE:** the JSX is wrapped in an array which we can do in React 16 (they recently released [`React.Fragment`](https://reactjs.org/docs/react-api.html#reactfragment)).

**Unit test:**

[code]

**Snapshot:**

[code]

**NOTE:** child element

[2018-02-02 18:45] donpinkus opened #95 "Snapshot's whitespace differs between environments"
I'm hesitant to open an issue for this - but after a few days of research don't have any other clues.

We are using Jest with Enzyme, and using enzyme-to-json to create snapshots of Enzyme wrappers.

When some of us create snapshots, we get 2 spaces per indentation.  When others of us create the snapshots, we get 4 spaces per indentation.

Environment:
- MacOS
- Node 9.4.0
- Jest 22.1.4
- Enzyme 3

[2018-02-05 04:00] james-odrscoll opened #96 "Snapshots that require life-cycle methods for HOC"
I am using enzyme for testing after making a change from react-test-renderer.

Initially I want to snapshot test (pure-html) all components and once complete move onto more detailed tests.

My issue is mount is going to be great for more detailed testing but I do not see why render which returns the html does not also use the life-cycle methods as these are needed with HOC or with redux to properl

[2018-02-16 17:42] saadaouad commented on #63
This should fix the problem:
#### package.json
[code]

#### test.spec.js
[code]

[2018-02-26 09:04] wytrych opened #97 "Passing into props an Array with elements wrapped in React.Fragment results in UNDEFINED nodes"
Test case:
[code]

Snapshot:

[code]

[2018-03-08 10:25] #55 closed

[2018-03-09 12:57] ifiokjr opened #98 "Unpublished version??"
I"m getting this error when trying to install dependencies. I upgraded 4 hours ago to version `3.3.2` and now it seems to be breaking with the following error.

[code]

For now, I've downgraded to `3.3.1` as a temporary fix.

[2018-03-09 13:40] hudochenkov commented on #98
Yesterday version 3.3.2 was published, which was containing breaking changes. Author contacted npm support to fix this mistake and they unpublished 3.3.2. https://github.com/adriantoine/enzyme-to-json/pull/91#issuecomment-371761772

[2018-03-10 15:35] es1o commented on #63
I have the same problem and I don't know how to resolve it.
It is my package.json file:
[code]

It worked before but after remove everything from node_modules it doesn't.

I'm trying to run npm test for my react native app.
My test code:
[code]

[2018-03-12 06:43] ifiokjr commented on #98
Okay, thanks. Closing, as most people wouldn't have seen it.

[2018-03-12 06:43] #98 closed

[2018-03-12 16:59] adriantoine commented on #95
Hi @donpinkus,

I'm sorry for the late reply! `enzyme-to-json` doesn't actually format snapshots, it is transforming Enzyme wrappers in a format compatible with Jest snapshots. As far as I remember the formatting of snapshots was done by the [`pretty-format`](https://github.com/facebook/jest/blob/master/packages/pretty-format) package so I think you should open an issue on the Jest repository.

I

[2018-03-12 16:59] #95 closed

[2018-03-12 17:07] adriantoine commented on #98
Hi @ifiokjr,

As @hudochenkov stated, I published this version as a patch version by mistake. Sorry for the inconvenience, rolling back to `3.3.1` is the right solution.

[2018-03-12 17:17] adriantoine commented on #96
I'm not sure I understand your issue perfectly.

Are you saying that when you `mount` your component, your lifecycle methods are not called? It sounds like an Enzyme issue, `enzyme-to-json` is literally just converting Enzyme wrappers to a format compatible with Jest snapshots so if the lifecyle methods are not called on `mount` or `setState` it is probably an Enzyme issue.

[2018-03-12 17:23] adriantoine commented on #97
Hi @wytrych, I'll have a look at your bug as soon as I can.

[2018-03-13 06:15] wytrych commented on #97
Thank you!

[2018-03-13 10:41] tkomstadius opened #99 "Not consistent behaviour when removing default props"
This was discovered in 3.3.2 that is no longer out.  (See comments on  https://github.com/adriantoine/enzyme-to-json/commit/f5181d448c45c8dfaaea44b85100b7a1e6be1516)

When the snapshots got created the default props containing `Object {}`, `[Function]` and boolean values seems to be removed but not the empty strings.

In our component Image we have default props:
[code]
Snapshot for version 3.3.1:

[2018-03-13 20:05] KevinGrandon opened #100 "Possible to publish 3.3.3 due to rollback?"
Just wondering if it's possible to publish 3.3.3. We have some folks with yarn caches that say that 3.3.2 is valid, and it's troublesome to invalidate the cache due to the rollback.

If we publish 3.3.3 (even if the same code), folks should automatically be upgraded.

[2018-03-16 10:37] adriantoine commented on #100
Ok I will publish `3.3.3` with no fix or update in it.

[2018-03-16 10:37] #100 closed

[2018-03-16 10:39] adriantoine commented on #99
Hey @tkomstadius, thanks for opening the bug, that feature will be refactored anyway as I want it as an opt-in feature.

[2018-03-16 10:41] adriantoine commented on #100
That's done @KevinGrandon, again and again and again, sorry for the inconvenience!

As someone pointed out, I should have published the rollback as a `3.3.3` rather than unpublishing the version, a few bad decisions have been made on this incident, at least I learned from it 😅sorry that it was at the expense of all your builds breaking.

[2018-03-16 10:44] adriantoine commented on #97
Ok so the main isssue is actually not the array but passing a fragment as a prop, this is enough to reproduce the issue:

[code]

We support Fragment as children but not (yet) as props.

[2018-03-16 15:35] robrichard opened #101 "Breaking changes between 3.3.2 and 3.3.3"
Version 3.3.3 changed the behavior regarding default props which breaks snapshots.

[2018-03-16 16:36] adriantoine commented on #101
Hi @robrichard,

Yes it is made on purpose as `3.3.2` introduced breaking changes that should have been published as a major version and broke a lot of builds. `3.3.3` is reverting to the behaviour of `3.3.1`. I suggest you update your snapshots or wait for the version including default props to be released. `3.3.2` should have never been released.

Sorry for the inconvenience.

[2018-03-16 16:36] #101 closed

[2018-03-16 16:45] robrichard commented on #100
IMO `4.0.0` should have been published instead of `3.3.3` as many projects were already updated to `3.3.2` before it was unpublished. `3.3.3` introduces a second breaking change to the projects already on `3.3.2`.

[2018-03-16 17:04] apaatsio commented on #100
@robrichard Yeah, that's a bit unfortunate. But I would suppose most of those projects are aware of this situation and they just won't update to 3.3.3 but wait for 4.0.0 instead.

If for some reason they want to update from 3.3.2 to 3.3.3 it requires just one `git revert` to revert the breaking changes anyway :grin:

[2018-03-17 23:04] adriantoine commented on #97
To follow up, I opened [an issue](https://github.com/facebook/jest/issues/5786) on the Jest repository and when [this PR](https://github.com/facebook/jest/pull/5816) gets merged and released, it should fix your issue.

I'll keep this issue open and close it when we can test the Jest fix and make sure it solves your issue.

[2018-03-17 23:52] rickhanlonii commented on #97
Verified that https://github.com/facebook/jest/pull/5816 fixes the issue:

![](http://dp.hanlon.io/3m1l3j38372I/Image%202018-03-17%20at%207.51.39%20PM.png)

[2018-03-18 22:09] wytrych commented on #97
That's really cool, thanks for taking it further @adriantoine

[2018-03-19 09:38] adriantoine commented on #97
No problem, thanks @rickhanlonii for the fix!

[2018-03-19 09:38] #97 closed

[2018-03-19 09:41] wytrych commented on #97
I guess we still need to wait for a new version of Jest to be released and then the package version updated here?

[2018-03-19 09:58] adriantoine commented on #97
@wytrych you don't need to wait for a new version of `enzyme-to-json` just get the next Jest release which includes @rickhanlonii's fix.

[2018-03-19 09:59] wytrych commented on #97
Ok thanks!

[2018-03-28 11:35] renet commented on #55
Sorry, but this seems to be a bug that newly came to enzyme/enzyme-to-json/React(?). We had shallow snapshots with enzyme-to-json before, that did **not** contain the default props. Any idea, why this is a new issue and what caused this?

[2018-04-11 23:45] AndyBarron commented on #99
The current implementation removes props if their values equal defaults, right? What if we temporarily un-assigned `Component.defaultProps` before calling `React.createElement` or something instead? Mega hack, but the output might be cleaner?

[2018-04-18 15:54] phillipwhelan commented on #99
Is there a timeline for when this fix will be released?

[2018-04-19 15:07] alistaircolling opened #103 "Bound function names no longer showing in snapshots"
Hi there, I recently upgraded a project:

**From**
- React 15.4.2
- Enzyme 2.8.2
- enzyme-to-json 1.5.1

**To**
- React 16.3.1
- Enzyme 3.3.0
- enzyme-to-json 3.3.3

Now lots of tests are failing due to snapshots not matching:

[code]

Is this expected behaviour? I guess tests are more brittle if the handler names are there.
Thanks :)

[2018-04-20 20:39] rattrayalex-stripe opened #104 "Remove `Object {` from snapshots"
Hello & thanks for an awesome library!

I assume this feature is intentional, but I find it a bit noisy:

[code]
I would prefer:
[code]

I would be happy with an option to opt-in to this feature, as its release would break many snapshots in the wild.

Thoughts?

[2018-05-02 22:04] quicksnap commented on #87
I was looking into this, and it appears to be due to to how Enzyme's `wrapper.getNodeInternal()` is working: https://github.com/adriantoine/enzyme-to-json/blob/master/src/shallow.js#L73

As a nicer work around, if you're on React >16.2.0, consider replacing arrays with Fragments: https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html

[2018-05-21 11:10] swashata opened #107 "When `jest.fn()` inside a enzyme ReactWrapper, snapshots get really large"
Yes I know that we should not snapshot test against something dynamic as `jest.fn()` and I swear 😇it was unintentional.

But I have found that when `jest.fn()` is passed as a prop to some component, the snapshot fails everytime (which is expected) but along with this, it generates some really really large snapshot files.

An example for reproducing this can be found here https://github.com/swashat

[2018-06-04 11:21] ashgaliyev opened #108 "`null` instead of `Object {}` for imported css"
Hello! I've recently upgraded from 1.5.1 to 3.3.4 and saw that all properties that get css files have been rewritten from  `Object {}` to `null`

I didn't find this change in the changelog and maybe it is a bug?

here is an example:

[code]

test:
[code]

snapshot:
[code]

[2018-06-05 08:19] rosath commented on #103
I have the same issue with:

- React 16.4.0
- Enzyme 3.3.0
- enzyme-to-json 3.3.4

[2018-06-13 18:52] ashgaliyev commented on #108
There is return null in the new code of enzyme-to-json which wasn't before.
If it gets object other than the react component (style object this our case) it will return null.
https://github.com/adriantoine/enzyme-to-json/blob/master/src/shallow.js#L62

in the old code it returns empty object
https://github.com/adriantoine/enzyme-to-json/blob/v1.5.1/src/shallow.js#L10

correct me if I'm wrong

[2018-07-06 13:03] stereobooster opened #109 "Thank you"
Hey 👋

I just want to write thank you for this project. It helped me to solve this issue https://github.com/airbnb/enzyme/issues/1693

[2018-07-06 13:03] #109 closed

[2018-07-19 14:37] thehig opened #110 "Lack of documentation for map"
The [documentation](https://github.com/adriantoine/enzyme-to-json/blob/master/docs/map.md) for map is severely lacking

[2018-08-09 04:32] Mayank009 opened #111 "Snapshot issue for Fragment"
Two different snapshots are getting generated using shallow for below component

**Component**:
`import React, { Component, Fragment } from 'react';
<Fragment>
	<Header location={location} matchUrl={match.url} />
	<section className="ps">
		<Switch>
			<Route path={`${matchUrl}/topics`} component={TopicsContainer} />
			<Route path={`${matchUrl}/people`} component={PeopleContainer} />
			<Route pa

[2018-08-09 04:33] Mayank009 commented on #111
When I debugged component for both snapshots I got outputs as below.

Note: I used debug function as below
`const component = shallow(<AppLayout />);`
`component.debug();`

**Snapshot 1**
`<Symbol(react.fragment)><Header location={{...}} matchUrl="/practices/test_9995" /><section className="ps"><Switch><Route path="/practices/test_9995/topics" component={[Function: Connect]} /><Route path="/practi

[2018-08-09 07:47] bsingr commented on #111
We are facing the same problem here. However, we get different results on different test machines:

- No diff issue on macOS
- Diff issue on Debian8/Docker (GitlabCI)

@Mayank009, what OS and npm-package versions do you run?

[2018-08-09 08:03] bsingr commented on #111
Just curious, could this be due to difference between those two:

- https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js#L363
- https://github.com/facebook/jest/blob/v23.4.2/packages/pretty-format/src/plugins/react_element.js#L47

[2018-08-09 09:45] Mayank009 commented on #111
@bsingr,
Snapshot 1:
 OS: MacOS
 Npm Version: 6.3.0
Snapshot 2:
 OS: Alpine (Docker Container)
 Npm Version: 5.6.0.

[2018-08-10 21:37] SamSamskies commented on #111
I had this same issue. For the machine producing snapshot 1, make sure you update to the latest enzyme (v3.4.1), enzyme-to-json (v3.3.4), and enzyme-adapter-react-16 (v1.2.0). That fixed it for me. Not sure which package was causing the issue as I updated all of them at the same time. Also, not sure why my machine was out of sync with my CI server despite having a package-lock.json.

[2018-08-11 05:48] Mayank009 commented on #111
@SamSamskies it's fixed now. Thanks.

[2018-08-11 05:48] #111 closed

[2018-08-24 17:44] JemarJones commented on #107
I've noticed the same thing. It seems to include the entire mock function in the snapshot, thus requiring that the mock function be included in final code of whatever component you have. I don't really want to have that dependency in my tests, so i was thinking maybe i could use the https://jestjs.io/docs/en/snapshot-testing#property-matchers of jest to simply say that i `expect.any(Function)` in

[2018-08-24 18:31] JemarJones commented on #107
Kind of dumb, but my temporary solution (note, only if you dont care whether the mockfunction specifically becomes a prop of your component) is just to do the following

[code]

Now the snapshot will just have
`someThing={[Function]}`

[2018-09-05 18:27] vittorius opened #113 "Jest recognizes enzyme-to-json/serializer only when configured using full path"
Hey.

I'm not sure whether it's a problem of Jest or enzyme-to-json (or maybe I don't understand what's going on...), but such config doesn't work:

[code]
This way, I get the entire internals of my components serialized and not just React or HTML dumped. But this is a documented approach.

This setup does work:

[code]

I've found this in a bunch of articles over the Internet.

If it helps, I'm u

[2018-09-07 14:18] SinHouse commented on #110
This is a function that hide "private properties" of any object used in props.

Tested in a create-react-app project with shallow render:
[code]

[2018-10-03 13:51] Ridermansb opened #114 "TypeError: Function.prototype.name sham getter called on non-function"
When run with `--coverage` i get this error..

    ● <ErrorBoundary> component › should render with message if error occour

    TypeError: Function.prototype.name sham getter called on non-function

      20 | 		);
      21 |

         | 		                ^
      23 | 	});
      24 |
      25 | 	it("should render if error occour", function() {

      at Function.getName (../node_modules/function.

[2018-10-12 12:31] siebertm opened #115 "Typescript config: make `noKey` optional"
In a typescript project, I'm running into the following error:

[code]

This stems from the property `noKey` being a non-optional boolean in the typescript definition. IMO, this should be an optional argument, as it is also optional for the pure-js version, correct?

[2018-11-02 05:46] quangrau opened #116 "[React.Suspense]: Cannot convert a Symbol value to a string"
Hello,

I'm getting this error when using new React's feature `Suspense/lazy`.

Here's is my `AppContent.jsx` file:
[code]

And here's `AppContent.test.jsx` file:
[code]

My `package.json`:
[code]

Does anyone get this error like this? I thought this is the same issue which is happened with `React.Fragment` before. Looking forward to hearing more advice from you guys.

Cheers.

[2018-11-06 10:36] Exomnius commented on #107
Any update on this issue? Or if anyone has a way of implementing a fix, we can create a PR.

[2018-11-13 08:20] MariusMeiners opened #117 "enzyme-to-json fails when using"

[2018-11-13 10:56] #117 closed

[2018-11-14 09:59] sattaman commented on #99
would be ace to have this released !

[2018-11-15 19:33] chandlera commented on #89
@adriantoine would there be a similar fix for React.Suspense?

[2018-11-16 09:21] adriantoine commented on #89
@chandlera Hey! Sorry for the lack of support recently. I will have a look asap but I'll accept a PR as well.

[2018-11-20 15:36] tommarien opened #119 "[React.memo] Memo renders as [object Object]"
this fixes it in the same way as pureComponents are treated

[code]

[2018-11-29 21:30] hisapy commented on #110
Here's an example of `map` function. It is extracted from a _StoryShot_ test suite. Notice that `deep` handles most of the cases but there are some stories of components rendering a portal or components that receive a `relay` or `environment` prop. In any case, the idea is to avoid writing the environment into the snapshot.

[code]

Some of the snapshot reduced from ~1.3MB to just 120K using `map`

[2018-12-05 00:32] Fandekasp opened #121 "Missing release notes"
Please follow semantic releases and write release notes. There hasn't been any notes in the past 5 releases, and studying each release diff takes more time than many people can afford.

For the latest release, the note `support React.lazy, React.memo and React.suspense` would have been perfect

[2018-12-05 09:35] adriantoine commented on #121
Hi @Fandekasp, you're absolutely right, I have added [release notes](https://github.com/adriantoine/enzyme-to-json/releases) for the last 5 releases.

[2018-12-05 09:35] #121 closed

[2018-12-05 15:39] ersel commented on #116
We started seeing this on latest version as well.

[2018-12-06 11:22] ersel opened #122 "Incorrect peer dependency version"
After the last update to `enzyme-to-json` **3.3.5** our tests started failing with a mixture of:

`TypeError: Cannot read property '$$typeof' of undefined`

and also

`TypeError: Cannot convert a Symbol value to a string`

These problems only occur if you're using an `enzyme` version **3.3.0** or earlier, so I believe peer dependency listed in `package.json` is no longer correct after the last upd

[2018-12-07 10:43] tommarien commented on #119
With latest release 3.3.5 you only see <React.memo {...props} /> not the underlying component. The above code threats is as if memo was not there, the new release threats as if the underlying component makes no difference. Think about connect hoc, it renders as <Connected(Component)/> for a reason ;)

[2018-12-18 06:27] alanyinjs opened #125 "Cannot read property '$$typeof' of undefined"
I am trying to implement enzyme-to-json in my project with enzyme and jest and when I ran test for one of my components, I have come across the following issue:
![capture](https://user-images.githubusercontent.com/25688258/50135570-bdb5fe80-02e8-11e9-9f91-19f02dabe39d.PNG)

I have set up my jest like this:
[code]
And I have run `npm test HelpTooltip` from the terminal:
[code]

I am using the follo

[2018-12-19 00:38] ersel commented on #122
What's your enzyme version @alanyinjs ?Try upgrading to a newer version if you are below 3.3.0.

[2018-12-20 22:36] alanyinjs commented on #122
@ersel I am using enzyme@3.3.0. I'm just using enzyme-to-json@3.3.4 as a temporary fix 😄

[2018-12-21 10:34] ersel commented on #122
You should upgrade `enzyme` @alanyinjs to something higher than 3.3.0 @alanyinjs

[2019-01-02 11:59] EugeneBugor commented on #116
This issue was fixed in the latest version of the package.

[2019-01-11 14:36] siebertm commented on #115
Thank you @samstradling !

@adriantoine would it be possible to do a patch release, also?

[2019-01-30 15:35] VincentLanglet commented on #99
@tkomstadius I think it's because '' is a falsy value. This PR will fix this.
https://github.com/adriantoine/enzyme-to-json/pull/112/files

@adriantoine Hi, do you have time for this opt-in , do you need help ?

I think
[code]

Will do the job and can be usable like this
[code]

[2019-01-30 16:53] VincentLanglet opened #126 "Type JestSerializer is not matching jest."
In the index.d.ts, we have
[code]

But when we use it like this
[code]

We receive a typescript error because `addSnapshotSerializer` is type like this
[code]

I think it would be better to type createSerializer like this
[code]

[2019-02-04 19:00] dep opened #127 "Medium severity vulnerability found in lodash"
`snyk` reports a Regular Expression Denial of Service vulnerability on one of your dependencies, lodash `4.17.5`.

[code]

and

[code]

Thanks in advance!

[2019-02-12 19:21] Ranguro opened #129 "Serializer triggers that it's expecting an enzyme-adapter when it's already provided."
**Error**

[code]
"enzyme-to-json": "^3.3.5"
"enzyme-adapter-react-15": "^1.3.0",
"enzyme": "^3.8.0",
"react": "^15.4.0",
"react-dom": "^15.4.0",
"jest": "^19.0.2",
[code]
    "snapshotSerializers": [
      "<rootDir>/node_modules/enzyme-to-json/serializer"
    ]
[code]
/*eslint-disable*/

var enzyme = require('enzyme');
var Adapter = require('enzyme-adapter-react-15');
enzyme.configure({ adapter:

[2019-02-18 13:49] jwld opened #131 "Passing react components as props results in large snapshots"
For example:
[code]

This also has the nasty side effect of requiring a snapshot update whenever any of the styling rules on the prop being passed are changed.

Is there any way around this?

[2019-02-19 06:20] orokanasaru commented on #129
I just saw the same behavior.

For me, wrappers created by `render` worked fine with the serializer, but ones created by `mount` and `shallow` gave the above error. In all cases, using the `toJson` method directly worked as expected.

[2019-02-25 14:33] naisergic opened #132 "snapshots are getting updated without passing update flag"
Hi currently we are facing an issue that snapshot of the component are getting updated even if we do not pass the update flag, due to which build gets passed to.

and if we do not use toJson then snapshot doesn't get updated

using enzyme:3.2.0, karma: 1.7.1 and enzyme-to-json@3.3.0

#### Version

| library             | version
| ------------------- | -------
| enzyme              | 3.2.0
| react

[2019-02-25 16:37] naisergic commented on #132
i think this issue is related to enzyme as if i do not use toJson then also snapshot are getting updated without update flag

[2019-02-27 10:31] adrienWeiss opened #133 "render() returns null for <script> tag"
Hi 👋

Any `<script />` tag is ignored in the snapshots
[code]
From what I understand it is because `script` is not a `type: 'tag'` but `type: 'script'`, and gets skipped here https://github.com/adriantoine/enzyme-to-json/blob/df30a5ace977c97fb42a6164a9f47af618ccf368/src/render.js#L10
Changing this line to `if (child.type === 'tag' || child.type === 'script') {` works but may not be without consequ

[2019-03-12 13:32] sallyhill commented on #110
Does anyone have a map function for removing intl props from component trees already? I was finding it a bit fussy when I tried to do a deep omit of 'intl'.

[2019-03-13 19:08] fongandrew opened #135 "Deep mode includes ForwardRef"
The [deep mode documentation](https://github.com/adriantoine/enzyme-to-json/blob/master/docs/modes.md#deep-mode) states that the rendered test object contains only DOM nodes.

However, when doing `toJson(mount(<Component />), { mode: 'deep' })`, the rendered snapshot includes any `<ForwardRef>` components created by [`React.forwardRef`](https://reactjs.org/docs/forwarding-refs.html).

Sample outpu

[2019-03-14 11:40] RiccardoF commented on #122
When I upgraded to 3.3.5 I still have the error:
`TypeError: Cannot read property '$$typeof' of undefined`

With the version 3.3.4 is fine.

[2019-03-14 13:28] jwld commented on #131
Just for a bit more context, I noticed this became a problem on another project once I updated `styled-components` to v4, which seems to change the prop from a function to an object (this is the snapshot):

![Screenshot 2019-03-14 at 13 25 32](https://user-images.githubusercontent.com/23030305/54360485-dcfcc780-465c-11e9-8a8d-6bbd09c38757.png)

[2019-03-14 17:09] Powerade opened #137 "Component created using React.memo appears as "Component" in snapshot"
Hello everyone, I've created an open issue on jest's official repo but apparently it looks to be a bug on this library instead so I'll leave it here.
Can you guys please take a look?
Thank you.

https://github.com/facebook/jest/issues/8122

-----------------------------------------------------------------

## 🐛 Bug Report
## To Reproduce

A clear and concise description of what the bug is.

Hello,

[2019-04-07 16:42] sormy commented on #137
This is well known issue with babel react preset. Put React.memo() on separate line like:

[code]

[2019-04-10 12:06] xunuoi opened #138 "Missing displayName for styled-component 4.x"
For latest styled-component v4 and latest enzyme version, in test cases, if we pass the Component Instance on props, when make snapshots by `enzyme-to-json`, `enzyme-adapter-react-16`, the `displayName` will missing.

For the styled-component 3.x version, it works well for same enzyme version.
Only happens for the new styled-component 4.x version.

There is a relevant issue of styled-component v4,

[2019-04-16 08:14] martinstark commented on #137
This has now become an issue when using Redux 7.x, which uses `React.memo` internally. Our shallow rendered snapshots have turned into:
[code]

Using the (currently) latest versions of everything:
[code]

[2019-04-16 19:38] rdsedmundo opened #139 "Add @types/enzyme as a dependency"
On the package's typings definitions, `enzyme` typings are being used, but it's not included as a dependency on the package, so if someone doesn't install `@types/enzyme` manually, a couple of errors appear.

*index.d.ts*
[code]

Sample errors
[code]

I know that someone can just install `@types/enzyme` and the errors are gone, but the correct thing to do is to include the package as a dependency

[2019-04-23 17:06] clx-pwalters opened #140 "Memo Component as a prop renders as <UNDEFINED /> in snapshot"
### To Reproduce
When rendering a React.memo as a prop of another component, the display name appears as UNDEFINED in the snapshot. Below is an example.

#### Icon.jsx
[code]
#### Button.jsx
[code]
#### App.jsx
[code]

And test App.jsx with the following:

#### App.spec.jsx
[code]

I get the following snapshot:
[code]

### Expected behavior
I was expecting to see either Memo(Icon) or simply Icon a

[2019-04-23 17:14] clx-pwalters commented on #140
I noticed in posting this issue that my jest and babel-jest were not up to date. Bringing them to version 24.7.1 has fixed the issue. Sorry for reporting this here!

[2019-04-23 17:15] #140 closed

[2019-04-29 04:13] xunuoi commented on #138
Seems one bug of styled-component v4. Created one fixing PR for this, https://github.com/styled-components/styled-components/pull/2516

So after you team double check, if nothing about `enzyme-to-json`, we can close this issue?

[2019-04-29 04:13] #138 closed

[2019-05-13 16:12] trollepierre commented on #135
Same issue when I shallow(<div><MyForwardedRefComponent/></div>), I got `<ForwardRef />` in my snapshot...

[2019-05-13 16:17] trollepierre commented on #135
My bad, it looks like the issue does not comes from enzyme-to-json (I remove the serializer in my test, and I got the same error)

[2019-05-24 10:19] puncha commented on #135
I also encounter the issue and it is not very stable. Sometimes, it is `<Styled(WithTheme(Typographic))` sometimes, it is `ForwardRef`.

[2019-05-24 13:15] trollepierre commented on #135
are you sure, it is related to enzyme-to-json?

[2019-05-28 10:51] puncha commented on #135
No, I don't why my edits to my comments were gone. Actually, after I upgraded enzyme packages, the issue goes away.

[2019-06-02 17:58] jcollum-nike commented on #89
I'm seeing this in 3.3.5

[code]

[2019-06-03 21:06] jcollum-nike opened #141 "3.3.5: TypeError: Cannot convert a Symbol value to a string"
I'm seeing this in 3.3.5

[code]

[code]

Thought shallow mode might help the problem but it happens with

[code]

as well.

Maybe I can work around this by detecting the Symbol in `.map`?

Here's the .debug output of the wrapper:

[code]

[2019-06-05 22:55] jcollum commented on #141
Closing, went away when I updated to current version of Enzyme.

[2019-06-05 22:56] jcollum-nike commented on #141
Closing, went away when I updated to current version of Enzyme.

[2019-06-05 22:56] #141 closed

[2019-06-13 11:35] nataly-chobat commented on #137
Yeah, we faced the same issue. It will be super perfect if it is possible to fix and display component name instead of <Component />

[2019-06-15 05:17] Eightyplus opened #142 "mount Fragment with new style (<>...</>) return null"
rendering a component with `<> ... </>` seems troublesome and often return `null` instead of children

functional-component.js
[code]

component.js
[code]
component.test.js
[code]

component.test.js.snap
[code]

### Expected behavior
Render children and not `null`

works if I exchange `<>` with `<Fragment>`

[2019-06-28 01:22] adriantoine opened #143 "Looking for maintainers"
Hi!

As everyone has probably noticed, I am not really working on this library anymore. I wished I could but I somehow got very busy in my life.

First I'd like to apologise to anyone impacted by the lack of support, and then I'd like to find a maintainer to help sort out issues and review PRs, and eventually take ownership of this repository.

Anyone interested, send me an email to adriantoine@gm

[2019-07-23 04:24] fender commented on #137
Same issue for us too. Got around it with:
[code]

[2019-07-28 18:46] VincentLanglet commented on #143
I will try to help but I have nothing against a little help.

[2019-07-28 18:48] VincentLanglet commented on #132
Enzyme-to-json can't update snapshot. It's a jest issue (or eventually enzyme).
You should open an issue with a reproductible example.

[2019-07-28 18:48] #132 closed

[2019-07-29 14:47] mcguiretj18 commented on #122
Update to the latest enzyme package worked for me

[2019-07-29 15:24] VincentLanglet commented on #122
https://github.com/adriantoine/enzyme-to-json/pull/123 is merged, I need to deploy a new version

[2019-07-29 15:24] VincentLanglet commented on #125
Indeed, duplicate

[2019-07-29 15:24] #125 closed

[2019-08-03 09:58] VincentLanglet commented on #127
Solved in the new release

[2019-08-03 09:58] #127 closed

[2019-08-03 09:59] VincentLanglet commented on #115
Solved in the new release

[2019-08-03 09:59] #115 closed

[2019-08-03 10:01] VincentLanglet commented on #113
I'm using
[code]
With no issue.

Do you have a reproductible demo @vittorius ?

[2019-08-03 10:02] #122 closed

[2019-08-03 10:04] VincentLanglet commented on #99
The opt-in feature is released

[2019-08-03 10:04] #99 closed

[2019-08-03 10:08] VincentLanglet commented on #87
Enzyme issue then

[2019-08-03 10:08] #87 closed

[2019-08-03 17:50] VincentLanglet commented on #116
So I can close the issue

[2019-08-03 17:50] #116 closed

[2019-08-03 18:21] michelts commented on #103
Jest [stopped to show function names](https://jestjs.io/blog/2016/10/03/jest-16.html#snapshot-updates) in snapshots. [This comment](https://github.com/facebook/jest/issues/2580#issuecomment-272405197) from another discussion expose why.

There is a [work in progress to offer an alternative](https://github.com/facebook/jest/pull/8668), but it is not done yet.

In your specific case, I would recomme

[2019-08-03 22:20] VincentLanglet commented on #103
Jest issue then not enzyme-to-json.

[2019-08-03 22:21] #103 closed

[2019-08-03 23:06] VincentLanglet commented on #139
Enzyme is a peerDependency. So we should eventually add `@types/enzyme` as peerDependency too.

But I never saw a `@types` package as a dependency. If you're just a `javascript` user, you don't need it. If you're a `typescript` it's your responsability to install `@types` package everytime you install a library.

If someone give me one example where `@types` are set a dependency/peer-dependency, I

[2019-08-03 23:06] #139 closed

[2019-08-04 00:09] VincentLanglet commented on #104
`Array` and `Object` keyword are coming from jest. I don't think we can do something about it.

[2019-08-04 00:09] #104 closed

[2019-08-04 09:44] VincentLanglet commented on #119
I can not understand this issue.

If you have a problem explain it most clearly. If you have an improvement to propose, open a PR.

[2019-08-04 09:44] #119 closed

[2019-08-04 09:48] VincentLanglet commented on #133
PR are welcomed. Is there other `type` not handled ?

[2019-08-04 09:49] VincentLanglet commented on #135
Related to enzyme then.

[2019-08-04 09:49] #135 closed

[2019-08-04 09:51] VincentLanglet commented on #137
It's maybe possible to make a PR with this comment:
https://github.com/facebook/jest/issues/8122#issuecomment-472926821

PR are welcomed

[2019-08-04 09:54] VincentLanglet commented on #108
PR are welcomed.

Prior to `null` behaviour, you had just an empty object ?
I would be better to have the complete object with the style property.

[2019-08-04 09:57] VincentLanglet commented on #110
This PR gives now an example https://github.com/adriantoine/enzyme-to-json/pull/136

[2019-08-04 09:57] #110 closed

[2019-08-04 11:53] adriantoine commented on #143
@vincentlanglet has generously proposed to help me work on this repo so I'm not looking for contributors anymore.

Thanks for helping @vincentlanglet, I'm so grateful!!!

[2019-08-04 11:53] #143 closed

[2019-08-12 04:46] MaxwellBo commented on #114
@Ridermansb might want to mention that you also reported this bug to enzyme proper https://github.com/airbnb/enzyme/issues/1889

[2019-08-13 01:02] basil93 commented on #114
Not sure if this got resolved - as I can't see the rest of your test it's hard to tell if you have the same issue as me.

I managed to resolve the issue by changing my .find('a#someid') to actually reference the type - so .findWhere(field => field.type() === FieldText && field.prop('id') === 'displayName')

This may help someone with a similar issue!

[2019-08-27 12:10] #137 closed

[2019-09-19 14:17] adrienWeiss commented on #133
I'm not quite sure, all other tags I've encountered work fine.
I'm send a PR right now, thank you

[2019-09-20 13:41] #133 closed

[2019-10-02 22:29] amitmaor opened #148 "3.4.1 error -- TypeError: Cannot read property '$$typeof' of undefined"
Hi there, I'm getting the following error in my tests in files using enzyme-to-json:

[code]

This is only happening on 3.4.1 which npm tells me was released less than an hour ago. If I go back to my previous version (3.3.5) this error goes away.

Just wanted you to be aware! Not currently blocked since 3.3.5 is working fine for me.

[2019-10-03 06:40] silentroach commented on #148
the same was in #122

[2019-10-03 08:07] VincentLanglet commented on #148
This should be introduce by https://github.com/adriantoine/enzyme-to-json/pull/145/files#diff-2b4ca49d4bb0a774c4d4c1672d7aa781

Do you have a way to reproduce the bug

[2019-10-03 08:23] VincentLanglet commented on #148
This should fix the bug
https://github.com/adriantoine/enzyme-to-json/pull/149/files

[2019-10-03 09:03] tomatau opened #150 "moving from 3.4.0 to 3.4.1 breaks snapshots"
Output of a snapshot from a connected custom component in 3.4.0:

[code]

The output of a snapshot from the same connected custom component in  3.4.1:

[code]

A patch update shouldn't have this sort of breaking change. The utility of 3.4.0 is better than 3.4.1 as well as it conveys more information about the component.

[2019-10-03 09:15] VincentLanglet commented on #150
Need to revert https://github.com/adriantoine/enzyme-to-json/pull/145

[2019-10-03 10:43] VincentLanglet commented on #150
I did it in release 3.4.2

The PR was made to fix this issue.
https://github.com/adriantoine/enzyme-to-json/issues/137

`<React.Memo />` instead of `<Connect(CustomComponent) />` is not great indeed.

I'd like to have `<React.Memo(CustomComponent) />`

[2019-10-03 10:44] VincentLanglet commented on #148
Since there is another problem with the PR (see https://github.com/adriantoine/enzyme-to-json/issues/150), I made a revert temporary and deploy a new release 3.4.2

[2019-10-03 14:03] tomatau commented on #150
Thanks, 3.4.2 is back to non-breaking changes.

[2019-10-03 14:03] #150 closed

[2019-11-08 10:42] Tjerk-Haaye-Henricus opened #155 "Cannot find type definition file for 'cheerio'."
file: enzyme-to-json/index.d.ts

Cheerio's types are referenced here but there not added to package.json

WORKAROUND: Add Cheerio types as dev dependency in host project.

Could you guys please add @types/cheerio to your package.json.

[2019-11-08 11:19] VincentLanglet commented on #155
PR is welcomed

[2019-11-08 12:46] #148 closed

[2019-12-03 08:54] Serzh470 opened #164 "Timestamp key in mock function lead to fail snapshot test"
When snapshot generated, there is timestamp in mock function generated. On the next test run snapshot fails, because of timestamps difference:
Jest output:
[code]

Snaphot code:
[code]

Packages versions:
[code]

[2019-12-03 08:57] adriantoine commented on #164
Hi,

This is not an issue with this library, you need to find a way to mock the current date. There are several ways, see https://github.com/facebook/jest/issues/2234 or [this post](https://codewithhugo.com/mocking-the-current-date-in-jest-tests/).

[2019-12-03 08:57] #164 closed

[2020-03-08 13:53] boatcoder opened #166 "Node crashes when using toJson"
I've tried it with v10.18.1, v10.19.0 and 12.16.1 and all of them fail the same way.  Not sure what is going on here.  This only started once I used toJson, and quits when I don't use it.

enzyme-to-json version: v3.4.4

[code]

[2020-03-08 20:33] VincentLanglet commented on #166
Did you try other enzyme-to-json version ? @boatcoder

[2020-03-10 00:31] boatcoder commented on #166
3.4.3, same effect.

On Sun, Mar 8, 2020 at 4:34 PM Vincent Langlet <notifications@github.com>
wrote:

[2020-03-10 00:31] boatcoder commented on #166
Also tried it on linux (in a docker) and it crashed the same way

On Mon, Mar 9, 2020 at 8:30 PM Mark Jones <boatcoder@gmail.com> wrote:

[2020-03-10 00:50] VincentLanglet commented on #166
I'm using this on node 12 without any issue...

Any ideas @adriantoine ?

[2020-03-10 03:32] adriantoine commented on #166
Hi,

It doesn't seem to be related to this library, did you have any issues using any other node libraries? Did you try to run your tests without enzyme-to-json? Also can you provide the complete test case to reproduce the issue?

Thanks!

[2020-03-10 12:12] boatcoder commented on #166
The only change I need to make to the project is to add enzyme-to-json.
Removing it removes the crash.  I'm using storybook as well which has it's
own snapshot serializer that does not cause the problem.  I'll try to make
some kind of minimal case after friday this week.  Got a deadline to get
done

On Mon, Mar 9, 2020 at 11:32 PM Adrien Antoine <notifications@github.com>
wrote:

[2020-04-13 15:36] criticalserenity commented on #142
Hi, guys. Are there any updates on this?

The same situation causes when I'm trying to render plain string without any node.

[code]

[code]

[code]

[2020-04-15 13:18] adriantoine commented on #142
Hi @criticalserenity we haven't had time to look at this bug, PRs are welcome if you want to have a look. Thanks!

[2020-04-30 17:54] mmarcuccio opened #168 "ForwardRef included in deep mount"
When using deep mount on a component wrapped with a forwardRef, currently enzyme-to-json includes the forwardRef node in the JSON. Deep mode should only include DOM nodes.

Here is an example:
[code]

I created a PR to address this here: https://github.com/adriantoine/enzyme-to-json/pull/167

[2020-06-06 12:48] iamogbz opened #169 "Allow depth option when serializing mounted wrappers"
## Description

Sometimes you have to mount a component for it too fully render e.g. in the case of functional components. However when snapshotting the rendered enzyme wrapper, you do not need the entire tree.

Currently there are two options `deep` and `shallow`. Deep does the entire tree which most times is not what you want to snapshot. Shallow only serializes the initial component instance.

[2020-06-06 21:55] #168 closed

[2020-06-20 01:53] 20BBrown14 commented on #166
I'm getting a very similar issue when mounting a component for snapshot testing. Tried enzyme 3.4.4 and 3.5.0 with Jest 24, 25, and 26. Tried it with using the helper `toJson` and with jest's snapshotSerializer config.

Repo is here: https://github.com/20BBrown14/digital-terrain-mc-js/tree/feature/add_layout

Offending test is tests/components/header/HeaderView.test.jsx

[2020-09-28 11:01] #155 closed

[2021-02-24 00:21] captain-igloo opened #178 "JSON changes with each run - React 17 and ReactDOM.createPortal()"
In React 17 with components that use ReactDOM.createPortal(), the JSON changes with each run. The component's props contain strings like "_reactListeninga2u1embg03f" and "__reactEvents$nxgockfgcdd" which change. React 16 is not affected.

Obviously these are coming from react-dom but can anything be done? My snapshot tests fail with React 17.

See https://github.com/captain-igloo/enzyme-to-json-bu

[2021-04-08 07:55] SiemvandenBerg opened #180 "High severity vulnerability found in lodash 4.17.15"
Whitesource Bolt reports:

Prototype pollution attack when using _.zipObjectDeep in lodash before 4.17.20. Lodash versions prior to 4.17.21 are vulnerable to Command Injection via the template function.
Lodash versions prior to 4.17.21 are vulnerable to Regular Expression Denial of Service (ReDoS) via the toNumber, trim and trimEnd functions. WhiteSource Note: After conducting further research, Wh

[2021-04-08 08:12] VincentLanglet commented on #180
Can you provide a PR @SiemvandenBerg ?

[2021-04-08 08:17] SiemvandenBerg commented on #180
I could bump the version but I have no idea how that would affect this package's
functionality and to test for it @VincentLanglet

[2021-04-08 08:18] VincentLanglet commented on #180
A patch bump won't impact the project. You can do it safely ;)

[2021-04-08 08:54] SiemvandenBerg commented on #180
Alright, I had to figure it out but I think the PR should be there now. Thanks for your prompt response.

[2021-04-08 09:43] SiemvandenBerg commented on #180
By the way, when will this change become available? I assume there will be a new version coming now?

[2021-04-08 10:34] VincentLanglet commented on #180
Done

[2021-04-08 10:34] #180 closed

[2021-05-06 19:20] mmarshad opened #182 "cannot find module 'cheerio' from 'node_modules/enzyme/build/utils.js"
I just start receiving this message to my unit tests today, although it was working fine before

[code]
Is there anything changed in serlizer.js?
"enzyme": "^3.11.0",
    "enzyme-adapter-react-16": "^1.15.6",
    "enzyme-to-json": "^3.6.1",

[2021-12-08 20:57] AaronV commented on #114
I'm running into a related problem. I'm not getting the "sham getter" issue, but I am getting different snapshot results when I use --coverage vs. not use it. I just upgrades to styled-components 5 and that started the problem.

[2021-12-08 21:07] ljharb commented on #114
That seems like an issue with whatever `--coverage` is, since coverage tools often need to transform code in order to record coverage - it seems entirely unrelated to this issue.

[2021-12-08 21:29] AaronV commented on #114
Thank you @ljharb, that comment helped! It seems that displayName stability was never guaranteed (for snapshots) and we've been lucky thus far. https://github.com/styled-components/babel-plugin-styled-components/issues/151